.card-header {
    background-color: var(--secondary-bg);
    color: var(--text);
}

.card {
    border: var(--primary-border);
    background-color: var(--secondary-bg);
    box-shadow: var(--box-shadow-bottom);
}