<div class="footer mt-5 p-4">
    <div id="footer-link">

        <nav class="footer-sites">
            <img src="../../assets/logo.png" width="50" height="40" alt="" loading="lazy">
            <h5 class="text-uppercase pt-2" style="color: var(--text)">Worktrolly
            </h5>

            <ul>
                <li class="footer-site">
                    <a class="footer-list" href="">GitHub</a>
                </li>
                <li class="footer-site">
                    <a class="footer-list" href="">Teams</a>
                </li>
                <li class="footer-site">
                    <a class="footer-list" href="">Contributors</a>
                </li>
                <li class="footer-site">
                    <a class="footer-list" href="">Copyright
                    </a>
                </li>
                <li class="footer-site">
                    <a class="footer-list" href=""></a>
                </li>
            </ul>
        </nav>
    </div>
</div>