<div class="footer mt-5">
    <footer>
        <h5 class="text-uppercase">Worktrolly
        </h5>
        <!-- <p>I believe you like my works. for further information</p>
    <p>Connect with me via :</p> -->
        <div class="row">
            <div id="contact">
                <a href="">
                    <app-profile-icons [profileIcon]="'email'"></app-profile-icons>
                </a>
                <a href="">
                    <app-profile-icons [profileIcon]="'linkedIn'"></app-profile-icons>
                </a>
                <a href="">
                    <app-profile-icons [profileIcon]="'github'"></app-profile-icons>
                </a>

            </div>
        </div>
        <p class="mt-2" id=""> © 2021 Copyright: Worktrolly</p>
    </footer>
</div>