<ng-container *ngIf="Status == 'Completed' ">
    <div [ngClass]="Border == true ? 'completedBorder' : 'completed' " >
        <span class="material-icons" data-toggle="tooltip" data-placement="top" title="completed">
            check_circle_outline
        </span>
    </div>    
</ng-container>

<ng-container *ngIf="Status == 'Ready to start' ">
    <div [ngClass]="Border == true ? 'ReadyBorder' : 'Ready' " >
        <span class="material-icons " data-toggle="tooltip" data-placement="top" title="Ready to start">
            not_started
        </span>
    </div>
</ng-container>

<ng-container *ngIf="Status == 'Blocked' ">
    <div [ngClass]="Border == true ? 'blockedBorder' : 'blocked' " >
        <span class="material-icons" data-toggle="tooltip" data-placement="top" title="Blocked">
            block
        </span>
    </div>
</ng-container>

<ng-container *ngIf="Status == 'Under Progress' ">
    <div [ngClass]="Border == true ? 'UnderBorder' : 'Under' " >
        <span class="material-icons" data-toggle="tooltip" data-placement="top" title="Under Progress">
            arrow_circle_up
        </span>
    </div>
</ng-container>

<ng-container *ngIf="Status == 'Ice Box' ">
    <div [ngClass]="Border == true ? 'IceBorder' : 'Ice' " >
        <span class="material-icons" data-toggle="tooltip" data-placement="top" title="Ice Box">
            inventory_2
        </span>
    </div>  
</ng-container>
