<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #5A20F0;">
    <a class="navbar-brand text-white px-2" style="font-weight: bold;" href="index.html">
        <img src="../../assets/logo.png" width="30" height="30" alt="" loading="lazy"> Work Trolly
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item active pr-5 py-1 " *ngIf="authService.afauth.user | async">
                <button type="button" class="btn" id="button" (click)="startNewSession()">Create New Task</button>
            </li>
            <li class="nav-item active pr-5 py-1 " *ngIf="authService.afauth.user | async">
                <button type="button" class="btn" id="button" (click)="startNewSprint()">Start New Sprint</button>
            </li>
            <li class="nav-item active pr-5 py-1 " *ngIf=" router.url != '/Board' ">
                <button type="button" class="btn" id="button" (click)="Board()">Board</button>
            </li>
            <li class="nav-item active pr-5 py-1 " *ngIf=" router.url != '/' && authService.afauth.user | async ">
                <button type="button" class="btn" id="button" (click)="myDashBoard()">My DashBoard</button>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto ">
            <li class= "nav-item py-1 pr-2">
              <div class="theme-switch">
                <button id="theme-button" *ngIf="(themeService.presentTheme$ | async) == 'theme-light'; else moonTemplate"(click)="themeService.changeTheme('theme-dark')">
                  <span class="material-icons">light_mode</span>
                </button>
                <ng-template #moonTemplate>
                  <button id="theme-button" (click)="themeService.changeTheme('theme-light')">
                    <span class="material-icons">dark_mode</span>
                  </button>
                </ng-template>
              </div>
            </li>
            <li class="nav-item py-1 ">
                <app-login-handler></app-login-handler>
            </li>
        </ul>
    </div>
</nav>