.header {
    background-color: var(--header-bg);
    color: var(--text);
    /* border-bottom: var(--primary-border); */
    height: inherit;
}

.headerBox {
    box-shadow: var(--box-shadow-bottom);
}

.collapse {
    background-color: var(--header-bg);
}

#theme-button {
    padding-top: 6px;
    background-color: var(--header-bg);
    color: var(--text);
    border: none;
}

.dropdown-menu {
    background-color: var(--secondary-bg);
}

.dropdown-item {
    color: var(--text);
}

.dropdown-item:hover {
    background-color: var(--hover);
    cursor: pointer;
}

#navbarDropdownBoards,
#navbarDropdownTeam,
#navbarDropdownCreate {
    color: var(--button-text);
}

#navbarDropdownBoards:hover,
#navbarDropdownTeam:hover,
#navbarDropdownCreate:hover {
    background-color: var(--hover);
}

#button {
    background-color: #16C85A;
    color: white;
    height: 30px;
    font-size: 12px;
}

#button:hover,
#button:active {
    background-color: #5A20F0;
}