<div class="headerBox">
    <nav class="navbar navbar-expand-lg sticky-top header">
        <a class="navbar-brand text-white px-1" (click)="home()">
            <img src="../../assets/logo.png" width="50" height="30"> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" style="height:fit-content; padding: 0 10px; margin-top: -16px;">
        <span class="navbar-toggler-icon material-icons" style="color: var(--text);">menu</span>
    </button>
        <div class="collapse navbar-collapse pl-3" id="navbarText">
            <ng-container *ngIf="(backendService.organizationsData | async)">
                <ng-container *ngFor="let item of backendService.organizationsData | async">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="btn nav-link dropdown-toggle" id="navbarDropdownCreate" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="color: var(--text);">Create</span>
                            </a>
                            <div class="btn dropdown-menu" aria-labelledby="navbarDropdownCreate">
                                <a class="dropdown-item" (click)="startNewSession()">Create New Task</a>
                                <a class="dropdown-item" (click)="startNewSprint()">Start New Sprint</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="btn nav-link dropdown-toggle" id="navbarDropdownBoards" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="color: var(--text);">Boards</span>
                            </a>
                            <div class="dropdown-menu " aria-labelledby="navbarDropdownBoards">
                                <a class="dropdown-item " (click)="Board() ">Board</a>
                                <a class="dropdown-item " (click)="myDashBoard() ">My Dashboard</a>
                                <a class="dropdown-item " (click)="tasksEvaluation() ">Tasks Evaluation</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="btn nav-link dropdown-toggle" id="navbarDropdownTeam" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span style="color: var(--text);">Team</span>
                            </a>
                            <div class="dropdown-menu " aria-labelledby="navbarDropdownTeam">
                                <a class="dropdown-item " (click)="createTeam()">Create Team</a>
                                <a class="dropdown-item " (click)="updateTeam()">Update Team</a>
                                <a class="dropdown-item ">Add Members</a>
                            </div>
                        </li>
                    </ul>
                </ng-container>
            </ng-container>
            <ul class="navbar-nav ml-auto">
                <ng-container *ngIf="!(authService.organizationAvailable) && authService.afauth.user | async">
                    <li class="nav-item px-1">
                        <button class="btn" id="button" (click)="createNewOrganization()">Create New Organization</button>
                    </li>
                </ng-container>
                <ng-container *ngIf="(authService.organizationAvailable) && authService.afauth.user | async">
                    <li class="nav-item px-1">
                        <button class="btn" (click)="organizationDetails()">My Organization</button>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <app-login-handler></app-login-handler>
                </li>
            </ul>
        </div>
    </nav>
</div>