#login-btn {
    background-color: #16C85A;
    border: 1px solid #5A20F0;
    color: white;
}

#button {
    background-color: #16C85A;
    border: 1px solid #5A20F0;
    color: white;
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}

.dropdown-menu {
    background-color: #1d252a;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: grey;
    cursor: pointer;
}