#login-btn {
    background-color: #16C85A;
    border: 1px solid #5A20F0;
    color: white;
}

#button {
    background-color: #16C85A;
    border: 1px solid #5A20F0;
    color: white;
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}

#theme-button {
  padding-top: 6px;
  background-color: #5A20F0;
  color: var(--background);
  border: none;
}