<div class="footerbox py-4">
    <div class="row px-2">
        <div class="col-md-1">
            <a style="color: var(--text);font-weight: bold;">
            Worktez
        </a>
        </div>
        <div class="col ">
            <div class="row">
                <div class="col">
                    <a>GitHub</a>
                </div>
                <div class="col"><a>Teams</a></div>
                <div class="col"><a>Contributors</a></div>
                <div class="col"> <a>Copyright
                </a></div>
                <div class="col">
                    <a>Privacy</a>
                </div>
            </div>
            <div class="row">
                Tag Name: {{tag_name}}
            </div>
            <div class="row">
                Id: {{id}}
            </div>
            <div class="row">
               Created_at: {{created_at}}
            </div>
            <div class="row">
                Published_at: {{published_at}}
            </div>
        </div>
        <div class="col text-right"><a>Build:Worktrolly 2.3.0</a></div>
    </div>
</div>