<div class="footerbox">
    <div class="row px-2 py-4">
        <div class="col-md-1">
            <a style="color: var(--text);font-weight: bold;">
            Worktez
        </a>
        </div>
        <div class="col ">
            <div class="row">
                <div class="col">
                    <a>GitHub</a>
                </div>
                <div class="col"><a>Teams</a></div>
                <div class="col"><a>Contributors</a></div>
                <div class="col"> <a>Copyright
                </a></div>
                <div class="col">
                    <a>Privacy</a>
                </div>
            </div>
        </div>
        <div class="col text-right"><a>Build:Worktrolly 2.3.0</a></div>
    </div>
</div>