<div class="page">
    <div class="row pt-4 heading1">
        <div class="col-1 col-md-2"></div>
        <div class="col">Pricing Plans</div>
        <div class="col-1 col-md-2"></div>
    </div>
    <div class="row pt-4 pb-5">
        <div class="col-1 col-md-2"></div>
        <div class="col heading2">
            Start with no cost and then pay as you go.
        </div>
        <div class="col-1 col-md-2"></div>
    </div>
    <div class="row py-4">
        <div class="col-0 col-md-2"></div>
        <div class="col-12 col-md-8 table-responsive-sm">
            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col" class="mr-5" id="featureCard" style="vertical-align:middle;">
                        <div class="row align-items-center">
                            <div class="col">
                                <p class="tablehead text-center">Features</p>
                            </div>
                            <div class="col-1" style="background-color: #FFFFFF;"></div>
                        </div>
                    </th>
                    <th scope="col" id="basicCard" style="vertical-align:middle;">
                        <div class="row align-items-center py-3">
                            <div class="col">
                                <p class="tablehead text-center">Basic</p>
                                <p class="tablebody text-center">No-cost plan</p>
                            </div>
                        </div>
                    </th>
                    <th scope="col" id="standardCard" style="vertical-align:middle;">
                        <div class="row align-items-center py-3">
                            <div class="col">
                                <p class="tablehead text-center">Standard</p>
                                <p class="tablebody text-center">$49/Month</p>
                            </div>
                        </div>
                    </th>
                    <th scope="col" id="entCard" style="vertical-align:middle;">
                        <div class="row align-items-center py-3">
                            <div class="col">
                                <p class="tablehead text-center">Enterprise</p>
                                <p class="tablebody text-center">Pay as you go</p>
                            </div>
                        </div>
                    </th>
                  </tr>
                </thead>
                <tbody class="tableData">
                  <tr>
                    <th scope="row" class="text-center p-4">Teams</th>
                    <td>2 Teams/Org</td>
                    <td>5 Teams/Org</td>
                    <td>$5.00/Team/Month/Org</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-center p-4">Members</th>
                    <td>5 Members/Team</td>
                    <td>10 Members/Team</td>
                    <td>$0.50/Member/Team</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-center p-4">Emails & Notifications</th>
                    <td>1K/Month</td>
                    <td>10K/Month</td>
                    <td>$0.005/Emails/Notifications</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-center p-4">Quick Notes</th>
                    <td>20 Notes/User/Month</td>
                    <td>100 Notes/User/Month</td>
                    <td>$0.05/Notes</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-center p-4">Documents</th>
                    <td>1 Doc/Task</td>
                    <td>3 Doc/Task</td>
                    <td>$0.50 /Document</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-center p-4">TechTag</th>
                    <td>Free</td>
                    <td>Free</td>
                    <td>$0.50 /User</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-center p-4">Meetings</th>
                    <td>Free upto 5 User upto 100 meetings</td>
                    <td>Free upto 5 User upto 100 meetings</td>
                    <td>$1.00 /User Unlimited Meetings</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-center p-4">Personalised Dashboard</th>
                    <td>Not available</td>
                    <td>Not available</td>
                    <td>$0.80 /Dashboard</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-center p-4">Personalised Report</th>
                    <td>Not available</td>
                    <td>Not available</td>
                    <td>$1.50 /Report</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-center p-4"></th>
                    <td>
                      <div class="d-flex justify-content-center m-2" *ngIf="subscriptionService.subscriptionPackage.SubscriptionType == 'Basic'">
                        <button type="button" disabled class="btn" id="button" data-toggle="modal" data-target="#exampleModalCenter" style="background-color: rgb(240, 227, 227);border-radius: 50px; border-color: #4006BA;font-family: 'Plus Jakarta Sans', sans-serif;">Current Plan</button>
                      </div>
                    </td>
                    <td>
                      <div class="d-flex justify-content-center m-2">
                        <div class="row p-2" *ngIf="subscriptionService.subscriptionPackage.SubscriptionType != 'Standard'" style="text-align: center;">
                          <button type="button" class="btn upgradeButton" routerLink="/Standard">Upgrade</button>
                      </div>
                      <div class="row p-2" *ngIf="subscriptionService.subscriptionPackage.SubscriptionType == 'Standard'" style="text-align: center;">
                        <button type="button" class="btn" id="button"  routerLink="/Standard" style="background-color:  #ffffff;color: #4006BA;
                        display: block;
                        border-radius: 50px;
                        text-align: center;
                        font-family: 'Plus Jakarta Sans', sans-serif;
                        border-color: #4006BA;">Renew</button>
                    </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center align-middle">
                      <div class="btn-group">
                        <button class="btn demoButton" role="button" data-toggle="modal" data-target="#requestDemo">Contact Us</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col-0 col-md-2"></div>
        <div class="row p-2" *ngIf="paymentComplete" style="text-align: center;">
          <div class="col">
              <h1>Payment Already Done!</h1>
          </div>
      </div>
    </div>
</div>