<ng-container *ngIf="applicationSettingsService.sprintData|async">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg navbar-dark" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <h5 class="active nav-link navbar-text" id="head">Sprint No: {{currentSprintName}}</h5>
                    </li>
                    <li class="nav-item">
                        <h5 class="active nav-link navbar-text" id="head">TeamId: {{sprintData.TeamId}}</h5>
                    </li>
                </ul>
                <div class="pl-lg-0" id="navbarTexts">
                    <ul class="nav navbar-nav ml-auto align-items-center">
                        <li class=" active">
                            <div class="btn-group">
                                <button class="btn dropdown-toggle" type="button" id="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                                <div class="dropdown-menu dropdown-menu-left" id="dropdownUserCard">
                                    <button class="dropdown-item" type="button" (click)="ActiveSprint()">Active Sprint</button>
                                    <button class="dropdown-item" type="button" (click)="showBacklog()">Backlog</button>
                                    <button class="dropdown-item" type="button" (click)="showDeleted()">Deleted</button>
                                </div>
                            </div>
                        </li>
                        <li class=" active">
                            <div class="btn-group" *ngIf="sprintData.Status != 'Completed' ">
                                <button class="btn dropdown-toggle" type="button" id="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Status</button>
                                <div class="dropdown-menu dropdown-menu-left" id="dropdownUserCard">
                                    <button *ngIf="Status !== 'Under Progress'" class="dropdown-item" type="button" (click)="changeSprintStatus('Under Progress')">Under Progress</button>
                                    <button class="dropdown-item" type="button" (click)="changeSprintStatus('Completed')">Completed</button>
                                </div>
                            </div>
                            <span class="material-icons align-middle" *ngIf="sprintData.Status === 'Completed' ">
                                check_circle
                    </span>
                        </li>
                        <li class="active">
                            <button class="btn" type="button" id="button" (click)="showTasks()">Show All Tasks</button>
                        </li>
                        <li class=" active">
                            <div class="dropdown float-right">
                                <button class="btn material-icons" type="button" id="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">filter_list</button>
                                <div class="dropdown-menu dropdown-menu-right py-4" id="filterMenu" aria-labelledby="dropdownMenuButton">
                                    <div class="input-group">
                                        <input class="form-control" style="font-size: 11px;" type="number" id="filterSprintNumberInput" [(ngModel)]="filterSprintNumber">
                                        <div class="col-md-3 col-3">
                                            <button class="btn" id="dropdownButton" style="font-size: 10px;" (click)="changeSprintNumber()">Filter</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="card-body">
            <div class="row">
                
                <div class="col-md-6 pl-4">
                    <div class="row py-2">
                        <div class="col-md-3">
                            <h6 class="card-title " style="font-weight: bold;font-size: 15px;">Start Date:
                            </h6>
                        </div>
                        <div class="col-md-9">
                            <h6 class="card-text " id="sprintStartDate" style="font-size: 13px;">
                                {{sprintData.StartDate}}</h6>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-3">
                            <h6 class="card-title " style="font-weight: bold;font-size: 15px;">End Date: </h6>
                        </div>
                        <div class="col-md-9">
                            <h6 class="card-text " id="sprintEndDate" style="font-size: 13px;">{{sprintData.EndDate}}
                        </h6>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-3">
                            <h6 class="card-title " style="font-weight: bold;font-size: 15px;">Status: </h6>
                        </div>
                        <div class="col-md-9">
                            <h6 class="card-text " id="sprintStatus" style="font-size: 13px;">{{sprintData.Status}}</h6>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row py-2">
                        <dv class="col-md-3">
                            <h6 class="card-title " style="font-weight: bold;font-size: 15px;">Total Tasks: </h6>
                        </dv>
                        <div class="col-md-9">
                            <h6 class="card-text " id="sprintStatus" style="font-size: 13px;">{{sprintData.TotalNumberOfTask}}</h6>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-3">
                            <h6 class="card-title " style="font-weight: bold;font-size: 15px;">Completed Tasks: </h6>
                        </div>
                        <div class="col-md-9">
                            <h6 class="card-text " id="sprintStatus" style="font-size: 13px;">{{sprintData.TotalCompletedTask}}</h6>
                        </div>
                    </div>
                </div>
                <ng-container *ngIf = "sprintData.SprintNumber > 0">
                    <div id="Progressgraph">
                        <app-progress-graph [ngStyle]="{'width': workPercentage + '%'}" class="progress bg-success"></app-progress-graph>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>
