.card {
    background-color: var(--secondary-bg);
    color: var(--text);
    box-shadow: var(--box-shadow-bottom);
    border: none;
}

.card-header, .btn {
    color: var(--text);
    text-decoration: var(--text);
    background-color: var(--secondary-bg);
}

.buttons { 
    justify-content: space-between; 
} 

.dropdown-menu {
    border-color: var(--primary-color) ;
    color: var(--text);
    background-color: var(--secondary-bg);
}

.dropdown-item {
    color: var(--text);
}

.dropdown-item:hover {
    background-color: var(--dropdown-hover);
    color: var(--button-text-hover); 
}

#button{
    background-color: var(--button-hover-bg);
    color: var(--button-text);
}

#button:hover,
#dropdownButton:hover {
    background-color: var(--dropdown-hover);
    color: var(--button-text-hover); 
}

#Progressgraph {
    height: 10px; 
    margin: 0px 20px 10px 10px;
    border-radius: 2%;
    background-color: var(--progress-left-bg);
    width: 100%;
} 

.progress {
    height: 10px;
    background-color: var(--progress-bg);
}

#StartDate {
    color: var(--secondary-color);
}

#EndDate {
    color: var(--danger-color);
}