.card-header {
    font-weight: bold; 
    background-color: var(--primary-color); 
    color: var(--button-text);
}

.card-body{
    background-color: var(--secondary-bg);
    color: var(--text);
    border: var(--primary-border);
    display: flex;
}

.card-text{
    padding-left: 7px;
    padding-top: 2.5px;
}

#button, #dropdownButton {
    background-color: var(--primary-color);
    color: var(--button-text);
    border: none;
}

#button:hover, #dropdownButton:hover {
    background-color: var(--hover);
}

#filterMenu {
    background-color: var(--secondary-bg);
    padding-right: 35px;
    padding-left: 5px;
}

#button:focus,
#button:active,
#dropdownButton:focus,
#dropdownButton :active {
    outline: none;
    box-shadow: none;
}

#filterSprintNumberInput {
    outline: none;
}