.card {
    box-shadow: var(--box-shadow-bottom);
    background-color: #212529;
}

.card-header {
    background-color: var(--primary-color);
    color: var(--button-text);
}

.card-body {
    background-color: var(--secondary-bg);
    color: var(--text);
}

#button,
#dropdownButton {
    background-color: var(--button-bg);
    color: var(--button-text);
}

#button:hover,
#dropdownButton:hover {
    background-color: var(--button-hover-bg);
}

#filterMenu {
    background-color: var(--secondary-bg);
    padding-right: 35px;
    padding-left: 5px;
}