  .card {
    background-color: var(--primary-bg);
    color: var(--text);
   
    box-shadow: var(--box-shadow-top), var(--box-shadow-bottom);
    border-radius: 8px;
  }
  
  
  
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table td,
  .table th {
    padding: 12px;
    text-align: left;
  }
  
  .table th {
    background-color: white;
    font-weight: bold;
  }
  
  .table td {
    background-color: var(--secondary-bg);
    color: var(--text);
    border: 1px solid var(--primary-border);
  }
  
  .table tr:first-child td {
    border-top: none;
  }
  
  .table tr:last-child td {
    border-bottom: none;
  }
  
  .table tr:hover td {
    background-color: var(--secondary-header-bg);
  }
  
  .table td:first-child {
    border-left: none;
  }
  
  .table td:last-child {
    border-right: none;
  }
  
  .table .first-row td {
    border-top: none;
  }
  
  .table .last-row td {
    border-bottom: none;
  }
  
  .table .status {
    color: white;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .table .status.success {
    background-color: var(--secondary-color);
  }
  
  .table .status.failure {
    background-color: var(--danger-color);
  }
  
  .table-responsive-sm {
    overflow-x: auto;
  } 

  
  .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }
  
  .card-header > div {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .card-header > div > input {
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 15px;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  

  #repoName {
    margin-left: 10px;
    
  }

  #ownerName {
    margin-left: 5px;
  }
  
  .card-header > div > button {
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #27ae60;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .card-header > div > button:hover {
    background-color: #219653;
  }
  
  
  
  .card-header button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #5559D9;
    color: #fff;
    border: none;
    margin-top: 31px;
    margin-left: 24px;

  }

  .btn {
    color: var(--text);
}

.btn:hover {
    background-color: var(--dropdown-hover);
    color: var(--button-text-hover);
}



