.card {
  background-color: var(--primary-bg);
  color: var(--text);
  border: none !important;
  box-shadow: var(--box-shadow-top), var(--box-shadow-bottom);
  border-radius: 8px;
}

.dataTable {
  background-color: var(--secondary-bg);
  box-shadow: var(--box-shadow-bottom);
  font-family: var(--font);
  border-radius: 5px;
}

.full-width-table {
  width: 100%;
  background-color: var(--secondary-bg) ;
  color: var(--text);
  font-family: var(--font);
}

mat-paginator {
  background-color: var(--secondary-bg);
  color: var(--text);
}

mat-paginator-page-size, mat-select-trigger{
  background-color: var(--primary-bg);
    /* color: var(--text); */
}
td {
  background-color: transparent;
  color: var(--text);
  border: transparent;
  font-family: var(--font);
}

th {
  color: var(--button-text);
  font-family: var(--font);
}

tr {
  cursor: pointer;
  font-family: var(--font);
}

.mat-row:hover .mat-cell {
  background-color: var(--primary-bg);
}

#button:focus,
#button:active,
#button:hover {
    background-color: var(--dropdown-hover);
    color: var(--button-text-hover);
    cursor: pointer;
}

.btn {
    color: var(--button-text);
    background-color: var(--secondary-bg);
}

.btn:hover {
    background-color: var(--dropdown-hover);
    color: var(--button-text-hover);
}

.dropdown-item {
  font-size: 12px;
  color: var(--text);
}

.dropdown-item:hover{
  color: var(--button-text-hover);
  background-color: var(--dropdown-hover);
}

#dropdownUserCard {
  background-color: var(--secondary-bg);
  color: var(--text);
}
