<div class="card" style="width: 36rem;">
  <div class="card-header">
      <div class="row">
          <div class="col-10">
              <input type="text" class="form-control form-control-sm" [(ngModel)]="note.Title" [ngModelOptions]="{standalone: true}" placeholder="Enter Note Title">
          </div>
          <div class="col">
              <mat-icon fontSet="material-icons" class="float-right" id="icon" (click)="close()">
                  close
              </mat-icon>
          </div>
      </div>
  </div>
  <div class="card-body">
          <textarea type="text" class="form-control form-control-sm" rows="8" [(ngModel)]="note.Note" [ngModelOptions]="{standalone: true}" placeholder="Write a note..."></textarea>
      <div class="row pt-4">
          <div class="col">
              <button class="btn btn-success float-right" (click)="saveNote()">save</button>
          </div>
      </div>
  </div>
  <app-loader *ngIf="enableLoader"></app-loader>
</div>