#cardDescription {
    border: 1px solid #8120f0;
}

#button {
    background-color: #10be65;
    border: 1px solid #8120f0;
    color: white;
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}

#navbarMenu {
    background-color: #8120f0;
}

@media (max-width: 991px) {
    .navbar-nav {
        float: right;
        flex-direction: row;
    }
}