rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {]
  
    //Anyone can Read Data
    match /{document=**} {
      allow read: if true;
    }
    // Only Logged in users can modify data
    match /Users/{userId}{
      allow read,write: if request.auth.uid==userId;
    }
  }
}