<div class="container p-0 " id="AllNotification">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 notification" id="notificationCenter">
            <ng-container *ngIf="!showLoader; else loader">
                <ng-container *ngIf="notificationsList.length == 0">
                    No Notification!!
                </ng-container>
                <ng-container *ngFor="let item of notificationsList">
                    <app-all-notification-card [notification]="item"></app-all-notification-card>
                </ng-container>
            </ng-container>
            <ng-template #loader>
                <app-loader></app-loader>
            </ng-template>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>                              