#dropdownMenuButton {
    border-radius: 20px;
    background-color: #10be65;
    color: black;
}


/* #filterMenu{*/

#button {
    background-color: #10be65;
    border: 1px solid #8120f0;
    color: white;
}

#filterMenu {
    background-color: #10be65;
}

#dropdownButton {
    color: white;
    background-color: #8120f0;
}

.dropdown-item:hover {
    background-color: #8120f0;
}

#button:focus,
#button:active,
#dropdownButton:focus,
#dropdownButton :active {
    outline: none;
    box-shadow: none;
}

#filterSprintNumberInput {
    outline: none;
}