<div class="page p-4">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-md-2 col-0">
            <div class="card submenu p-2 py-4">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Get Started</li>
                  <li class="list-group-item">Features</li>
                  <li class="list-group-item">Blogs & News</li>
                </ul>
            </div>
        </div>
        <div class="col-md-8 col-12">
            <div class="card p-4">
                <div class="card-body text-center">
                    <p class="title pb-4">
                        <span class="align-middle">
                            <img src="../../../assets/undraw_flagged_2uty.svg" alt="graphs" width="10%" height="10%"> 
                        </span>
                        Introduction
                    </p>
                    <p class="py-2 pb-5">
                        Worktez is an innovative solution to simplify your project and team with powerful frameworks to plan, track, deploy and collaborate over ideas and projects. Worktez is an executive solution for your organisation, that help you simplify complex industrial practices development workflow and remote work solution.
                    </p>
                    <span class="align-middle">
                        <img src="../../../assets/undraw_outer_space_re_u9vd.svg" alt="graphs" width="25%" height="25%"> 
                    </span>
                    <p class="py-5">
                        Our solution is focused on agile-based DevOps automation, which helps in more organised remote team management. You can assign, prioritise and fix feasible deadlines so that completion of tasks is not an ordeal anymore.
                    </p>
                    <span class="align-middle">
                        <img src="../../../assets/undraw_choose_re_7d5a.svg" alt="graphs" width="25%" height="25%"> 
                    </span>
                    <p class="py-2 pt-5">
                        Worktez consists of various easy-to-use options to get started with your project. While one might need to switch tabs for doing trivial tasks, you can do all of your tasks under a single place using the Worktez tool - from syncing tasks on Calendars to marking the tasks done before time, you name it and there you have it.
                    </p>
                    <p class="title py-4">What is Agile?</p>
                    <p class="py-2">
                        Agile is an iterative method of project management and software development that allows teams to serve customers more quickly and efficiently. Instead of putting all on a single launch, an agile team will generate discrete but manageable pieces of output.
                    </p>
                    <p class="title py-4">What is DevOps?</p>
                    <p class="py-2">
                        DevOps is the combination of cultural philosophies, practices, and tools that increases an organization ability to deliver applications and services at high velocity: evolving and improving products at a faster pace than organizations using traditional software development and infrastructure management processes. This speed enables organizations to better serve their customers and compete more effectively in the market.
                    </p>
                    <!-- <p class="title py-4">How is Agile related to Worktez?</p>
                    <p class="py-2">
                        Worktez is an application based on Agile based DevOps Automation, this system ensures quality customer service with ease. Hence, it helps in providing efficient work to teams that work in a remote environment.
                    </p> -->
                    <span class="align-middle">
                        <img src="../../../assets/undraw_runner_start_x-0-uu.svg" alt="graphs" width="25%" height="25%"> 
                    </span>
                    <p class="title py-4">Getting started</p>
                    <p class="py-2">
                        1. Signup and Login <br>
                        2. Explore worktez social - techverse
                    </p>
                    <p class="title py-4">Setup Organization</p>
                    <p class="py-2">
                        1. Register your organization - Under profile menu option click create new organization
                        or Follow link
                        <br>
                        2. Fill in the required details. <br>
                        3. Create a team inside the organization.
                    </p>
                    <span class="align-middle">
                        <img src="../../../assets/undraw_setup_wizard_re_nday.svg" alt="graphs" width="25%" height="25%"> 
                    </span>
                    <br>
                    <p class="py-2 text-center">
                        Our startup wizard will guide you.
                    </p>
                    <p class="py-2">
                        You are all set to plan, manage, set milestone, invite your team members, analyse, track and release your project with our help.
                    </p>
                    <p class="py-2 text-center">
                        Explore submenu to know more in details.
                    </p>
                </div>
              </div>
            
        </div>
        <div class="col-1"></div>
    </div>
    
    
</div>