.page {
    /* background-color: var(--secondary-bg); */
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.title {
    font-size: xx-large;
    /* color: #0000e4; */
}

.sub-title {
    font-size: 22px;
}

p {
    font-size: large;
    line-height: 1.8rem;
    text-align: justify;
    color: var(--text);
}
a {
    font-size: large;
    line-height: 1.8rem;
    text-align: justify;
    color: var(--primary-color) !important;
    cursor: pointer;
}

.card {
    background-color: var(--secondary-bg);
    border: none;
}

.submenu {
    background-color: var(--secondary-bg);
    border-radius: 5px;
}

li {
    cursor: pointer;
    font-size: medium;
    color: var(--text);
}

.feature-item{
    cursor: pointer;
    font-size: small;
    line-height: normal;
    text-align: left;
}


li:hover {
    color: var(--primary-color);
}