<div class="modal fade" id="workModal" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content p-4">
            <div class="modal-header p-4">
                <ng-container *ngIf="workModalMode == 'add'">
                    <h2 class="modal-title" id="exampleModalLabel">Add Your Work Experience</h2>
                </ng-container>
                <ng-container *ngIf="workModalMode == 'edit'">
                    <h2 class="modal-title" id="exampleModalLabel">Edit Work Expereience</h2>
                </ng-container>
                <span type="button" class="close" data-dismiss="modal" aria-label="Close" class="material-icons" (click)="editWorkDone()" style="color: var(--secondary-color);">close</span>
            </div>
            <div class="modal-body">
                <form *ngIf="!enableLoader">
                    <div class="form-group mb-4">
                        <!-- <label for="recipient-name" class="col-form-label">Display Name</label> -->
                        <input type="text" [(ngModel)]="organizationName" [ngModelOptions]="{standalone: true}" class="form-control" id="recipient-name" placeholder="Enter your Organization Name">
                    </div>

                    <div class="form-group my-4">
                        <!-- <label for="recipient-name" class="col-form-label">Display Name</label> -->
                        <input type="text" [(ngModel)]="position" [ngModelOptions]="{standalone: true}" class="form-control" id="recipient-name" placeholder="Enter your Position">
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 col ml-auto">
                            <input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" placeholder="Select The Start Date ">
                        </div>
                        <div class="col-md-6 col ml-auto">
                            <input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" min="{{todayDate}}" placeholder="Select The End Date ">
                        </div>
                    </div>

                    <div class="row px-4 py-4">
                        <ng-container *ngIf="workModalMode == 'add'">
                            <button type="button" class="ml-auto col-md-12 btn" (click)="addWork()">Add Work Expereience</button>
                        </ng-container>
                        <ng-container *ngIf="workModalMode == 'edit'">
                            <button type="button" class="ml-auto col-md-12 btn" (click)="updateWork()">Edit Work Expereience</button>
                        </ng-container>
                    </div>
                </form>
                <ng-container *ngIf="showClose">
                    <div class="row">
                        <div class="col">Successfully Updated!</div>
                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 pb-2 px-4">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="editWorkDone()">Close</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<app-loader *ngIf="enableLoader && !showClose"></app-loader> -->