<div class="container">
    <form>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">SprintNumber</label>
                <input type="text" class="form-control" id="setSprintNumber" aria-describedby="emailHelp" placeholder="Enter SprintNumber" [(ngModel)]="setSprintNumber" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Taskid</label>
                <input type="text" class="form-control" id="taskId" aria-describedby="emailHelp" placeholder="Enter TaskID" [(ngModel)]="taskID" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Completed task</label>
                <input type="text" class="form-control" id="CompletedTask" aria-describedby="emailHelp" placeholder="Enter CompletedTask" [(ngModel)]="completedTask" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">Uncompleted task</label>
                <input type="text" class="form-control" id="unCompletedTask" aria-describedby="emailHelp" placeholder="Enter UnCompetedTask" [(ngModel)]="unCompletedTask" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-6">
                <label for="DevTask">dev</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter DevTask" [(ngModel)]="totalDevelopmentTask" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-6">
                <label for="Business Task">business</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter BuisinessTask" [(ngModel)]="totalBusinessTask" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-6">
                <label for="Marketing Task">marketing</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter MarketingTasks" [(ngModel)]="totalMarketingTask" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-6">
                <label for="Other Task">OtherTasks</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter OtherTasks" [(ngModel)]="totalOtherTask" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">OrgId</label>
                <input type="text" class="form-control" id="OrgID" aria-describedby="emailHelp" placeholder="Enter OrgId" [(ngModel)]="orgId" [ngModelOptions]="{standalone: true}">
            </div>

            <div class="form-group col-md-6">
                <label for="exampleInputEmail1">OrgDomain</label>
                <input type="text" class="form-control" id="OrgDomain" aria-describedby="emailHelp" placeholder="Enter OrgDomain" [(ngModel)]="orgDomain" [ngModelOptions]="{standalone: true}">
            </div>

            <button class="btn btn-primary" (click)="patch()">Click Me!</button>
        </div>
    </form>
</div>