.menu-option {
    color: var(--text);
    background-color: var(--secondary-bg);
    border: var(--primary-border);
}

.menu-option:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.focusNav {
    background-color: var(--secondary-bg); 
    height:100%;
    border: var(--primary-border);
}
