<div class="container p-0" *ngIf="!showLoader">
    <div class="row p-2">
        <div class="col-12">
            <div class="card">
                <div class="card-header h3" style="border: none;background: none;">
                    <span class="mr-2">
                        <img src="{{ organization.OrganizationLogoURL }}" alt="" height="30" width="50">
                    </span>
                    {{ organization.OrganizationName }}
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle text-muted">{{ organization.OrganizationDescription }}</h6>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                          <a (click)="switchView('showOrgDetails')" [ngClass]="{'nav-link ': true, 'activeBg': showOrgDetails}" aria-current="page">
                              Organization<span class="material-icons align-middle px-2">corporate_fare</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a (click)="switchView('showTeamsDetails')" [ngClass]="{'nav-link ': true, 'activeBg': showTeamsDetails}" aria-current="page">
                                Teams <span class="material-icons align-middle px-2">groups</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a (click)="switchView('showOrgDocuments')" [ngClass]="{'nav-link ': true, 'activeBg': showOrgDocuments}" aria-current="page">
                                Documents <span class="material-icons align-middle px-2">snippet_folder</span>
                            </a>
                        </li>
                    </ul>
                    <span type="button" class="material-icons float-right pt-4" *ngIf="showTeamsDetails" (click)="createTeam()">group_add</span>
                    <ng-container *ngIf="showOrgDetails">
                        <h6 class="card-title mt-4">
                            <app-profile-icons [profileIcon]="'email'"></app-profile-icons>
                            {{ organization.OrganizationEmail }}
                        </h6>
                        <h6 class="card-title mt-4">
                            <app-profile-icons [profileIcon]="'building'"></app-profile-icons>
                            {{ organization.OrganizationDomain }}
                        </h6>
                    </ng-container>
                    <ng-container *ngIf="showTeamsDetails">
                        <div class="container">
                            <div class="row">
                                <ng-container *ngFor="let team of teams">
                                    <div class="col col-md-4 col-lg-6 pt-4">
                                        <app-teams-card [team]="team" (updatedDetails)="updatedDetails($event)"></app-teams-card>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="showOrgDocuments">
                        <app-org-documents [organizationId]="organization.OrganizationId" [orgDomain]="organization.OrganizationDomain"></app-org-documents>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="showLoader">
    <app-loader></app-loader>
</ng-container>