.card {
    color: var(--text);
    background-color: var(--secondary-bg);
}

.nav-link {
    color: var(--text);
    cursor: pointer;
    background-color: var(--primary-bg);
}

.nav-link:focus {
    color: var(--text);
}

.activeBg {
    background-color: var(--secondary-bg);
}