<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="pt-3">
    <div class="card">
        <div class="card-body" style="font-weight: bold; background-color: #8120f0; color:white;">
            <div class="row">
                <div class="col-md-2 col-3">
                    <h5 class="pl-2" style="font-size: 18px;">Sprint No:</h5>
                </div>
                <div class="col-md-4 col-2">
                    <h5 id="sprintId">{{currentSprintName}}</h5>
                </div>

                <div class="col-md-4 col-7">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
                        <div class="dropdown-menu px-5 py-4" id="filterMenu" aria-labelledby="dropdownMenuButton">
                            <div class="row py-3">
                                <input class="col-md-8 col-8" style="font-size: 11px;" type="number" id="filterSprintNumberInput" placeholder="enter sprint number" [(ngModel)]="filterSprintNumber">
                                <div class="col-md-4 col-4 pl-2">
                                    <button class="btn" id="dropdownButton" style="font-size: 14px;" (click)="changeSprintNumber()">Filter</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn col-md-2 col-2" id="sprintStatus" style="font-size: 14px;" (click)="completeSprint()">Completed</button>
                <div class="col-md-2 col-2" *ngIf="sprintCompleted">
                    <span class="material-icons">
                        check_circle
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card-body" style="background-color: white;">
                    <div class="row py-2">
                        <h6 class="card-title col-md-2 col-4" style="font-weight: bold;font-size: 14px;">Details: </h6>
                        <h6 class="card-text col-md-10 col-8" id="sprintDetail" style="font-size: 12px;"></h6>
                    </div>
                    <div class="row py-2">
                        <h6 class="card-title col-md-2 col-4" style="font-weight: bold;font-size: 14px;">Start Date:
                        </h6>
                        <h6 class="card-text col-md-10 col-8" id="sprintStartDate" style="font-size: 12px;">
                            {{StartDate}}</h6>
                    </div>
                    <div class="row py-2">
                        <h6 class="card-title col-md-2 col-4" style="font-weight: bold;font-size: 14px;">End Date: </h6>
                        <h6 class="card-text col-md-10 col-8" id="sprintEndDate" style="font-size: 12px;">{{EndDate}}
                        </h6>
                    </div>
                    <div class="row py-2">
                        <h6 class="card-title col-md-2 col-4" style="font-weight: bold;font-size: 14px;">Status: </h6>
                        <h6 class="card-text col-md-10 col-8" id="sprintStatus" style="font-size: 12px;">{{Status}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>