<div class="pt-3">
  <div class="card">
    <div class="card-body" style="font-weight: bold; background-color: #e3f2fd">
      <div class="row">
        <div class="col-md-2 col-3">
          <h5 class="pl-2" style="font-size: 18px">Sprint No:</h5>
        </div>
        <div class="col-md-6 col-2">
          <h5></h5>
        </div>
        <div class="col-md-4 col-7">
          <div class="dropdown">
            <button
              class="btn btn-dark dropdown-toggle"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Filter
            </button>
            <div
              class="dropdown-menu px-5 py-4"
              aria-labelledby="dropdownMenuButton"
            >
              <div class="row py-3">
                <input
                  class="col-md-8 col-8"
                  style="font-size: 11px"
                  type="number"
                  placeholder="enter sprint number"
                />
                <div class="col-md-4 col-4 pl-2">
                  <button class="btn btn-info" style="font-size: 14px">
                    Filter
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card-body" style="background-color: white">
          <div class="row py-2">
            <h6
              class="card-title col-md-2 col-4"
              style="font-weight: bold; font-size: 14px"
            >
              Details:
            </h6>
            <h6 class="card-text col-md-10 col-8" style="font-size: 12px"></h6>
          </div>
          <div class="row py-2">
            <h6
              class="card-title col-md-2 col-4"
              style="font-weight: bold; font-size: 14px"
            >
              Start Date:
            </h6>
            <h6 class="card-text col-md-10 col-8" style="font-size: 12px"></h6>
          </div>
          <div class="row py-2">
            <h6
              class="card-title col-md-2 col-4"
              style="font-weight: bold; font-size: 14px"
            >
              End Date:
            </h6>
            <h6 class="card-text col-md-10 col-8" style="font-size: 12px"></h6>
          </div>
          <div class="row py-2">
            <h6
              class="card-title col-md-2 col-4"
              style="font-weight: bold; font-size: 14px"
            >
              Status:
            </h6>
            <h6 class="card-text col-md-10 col-8" style="font-size: 12px"></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
