<div class="container-fluid" *ngIf="userObservable | async; else loader ">
    <ng-container *ngIf=!teamIdExists>
        <h3>You are not a part of any team. Please create a new team.</h3>
        <button type="submit" class="btn" id="button" (click)=createNewTeam()>Create Team</button>
    </ng-container>
    <ng-container *ngIf="applicationSettingsService.teamData|async; else loader">
        <div class="row pt-2">
            <div class="col col-md-5">
                <app-performance-chart [userEmail]="userEmail" [uid]="user.uid" [currentSprint]="teamCurrentSprintNumber"></app-performance-chart>
            </div>
            <div class="col col-md-7">
                <app-my-tasks [userEmail]="userEmail" [currentSprint]="teamCurrentSprintNumber"></app-my-tasks>
            </div>
        </div>
    </ng-container>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
