.card {
    background-color: #ffffff;
    border: none;
    width: 17rem;
    height: 15rem;
    border-radius: 15px;
    box-shadow: 0px 7px 7px 1px #bfc1c8;
}

.card-title {
    font-size: 20px;
}

.card-text {
    font-size: 12px;
}

.imageCheck {
    position: absolute;
    top: -25px;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 10rem;
        height: 13rem;
    }
    .card-title {
        font-size: 12px;
    }

    .card-text {
        font-size: 10px;
    }
}