<div class="container">
    <div class="card align-middle align-items-center">
        <img class="imageCheck rounded-circle" width="50" height="50" src="../../../../assets/defaultavatar.jpg" alt="Card image cap">
        <div class="card-body my-2">
          <h5 class="card-title text-center">{{name}}</h5>
          <p class="card-text text-center">{{content}}</p>
        </div>
    </div>
</div>
<!-- <div class="card align-middle p-3">
    <img src="/src/assets/card.svg" alt="Card image cap">
</div> -->