<div class="card mx-1">
    <img class="imageCheck" width="30" height="30" src="../../../../assets/quotes.svg" alt="Card image cap">
    <div class="card-body">
        <div class="row py-1">
            <div class="col-3 d-flex justify-content-center">
                <img class="rounded-circle" width="80" height="80" src="{{image}}" alt="Card image cap">
            </div>
            <div class="col d-flex justify-content-center">
                <div>
                    <span class="card-title">{{name}}</span>
                    <br>
                    <span class="card-text text-muted">{{position}}</span>
                    <br>
                    <span class="card-text" style="overflow: scroll;">{{content}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="card align-middle p-3">
    <img src="/src/assets/card.svg" alt="Card image cap">
</div> -->