<ng-container> 
    <div class="container">
        <div class="row align-middle">
            <div class="col-md-4"></div>
            <div class="col-12 col-sm-6 col-md-4" id="resetPasswordContainer">
                <div class="row px-4" >
                    <div class="col">
                        <h3 class="py-3 ">Reset Password for <a class="header">{{email}}</a></h3>
                        <form (submit)="handleResetPassword()">
                                <input [(ngModel)]="newPassword" type="text" id="newPassword" name="newPassword" placeholder="New Password"> <br> 
                                <input [(ngModel)]="confirmPassword" type="text"id="confirmPassword" name="confirmPassword" placeholder="ConfirmPassword"> <br>
                            <button type="submit" class="btn btn-lg btn-block" id="button">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</ng-container> 