.container{
    color: var(--text);
    background-color: var(--secondary-bg);
    border-radius: 18px;
}

.form-control{
    background-color: var(--input-field);
    color: var(--text);
    border: none;
    padding: 7px;
    border-radius: 6px;
    opacity: 1;
    margin: 5px !important;
}

#button {
    background-color: var(--secondary-color);
    color: white;
}

#button:focus,
#button:active,
#button:hover {
    outline: none;
    box-shadow: none;
    background-color: var(--primary-color);
}

input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: var(--primary-color);
}