<!-- <div class="container-fluid" *ngIf="popupHandlerService.editEducationEnabled">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content profileEditTheme">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Add Your Education</h4>
                    <button type="button" class="close" (click)= "editProfileDone()" aria-label="Close">
                        <span aria-hidden="true" class="material-icons">close</span>
                    </button>
                </div>
                <div class="modal-body container-fluid pt-0">
                    <form #form="ngForm">
                        <div class="form-row">
                            <div class="form-group col-md-12 col">
                                <input type="text" [(ngModel)]="" [ngModelOptions]="{standalone: true}" class="form-control" id="recipient-name" placeholder="Enter your College or School Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 col">
                                <input type="text" class="form-control" id="recipient-phoneNo" [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}" placeholder="Enter your Degree Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 col">
                                <input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}" min="{{todayDate}}" placeholder="Select The Start Date ">
                            </div>
                            <div class="form-group col-md-6 col">
                                <input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}" min="{{todayDate}}" placeholder="Select The End Date ">
                            </div>
                        </div>
                        <app-loader *ngIf="enableLoader && !showClose"></app-loader>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-lg btn-block" id="button" [disabled]="enableLoader" aria-label="Close" (click)= "editProfile()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div> -->
