#navbarMenu,
.modal-header {
    background-color: var(--primary-color);
}

#addMemberPage,
.modal-content {
    background-color: var(--secondary-bg);
    border-radius: 8px;
    color: var(--text);
}

.text {
    color: var(--text);
}

.head {
    font-weight: bold;
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

#addButton {
    background-color: var(--secondary-color);
    color: var(--button-text);
    width: 100%;
    text-align: center;
}

#addButton:hover {
    background-color: var(--primary-color);
}

select:focus,
input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: #dc3226;
}

.form-email {
    background-color: var(--primary-bg);
    border: none;
    color: var(--text);
}

.btn-secondary {
    background-color: var(--button-hover-bg);
}

.btn-secondary:hover {
    background-color: var(--button-bg);
}