<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <nav class="modal-header navbar navbar-expand navbar-dark" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <h4 class="active nav-link head" id="memberModalLabel">Add Member</h4>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="material-icons text-light" (click)="added()">close</span>
                        </button>
                    </li>
                </ul>
            </nav>
            <div class="container modal-body align-items-center px-4" id="addMemberPage">
                <form *ngIf="!showClose" (ngSubmit)="submit()" #form="ngForm">
                    <div class="row">
                        <div class="col-md-2 pl-4">
                            <span class="form-inline">Email</span>
                        </div>
                        <div class="col-md-9">
                            <input type="email" class="form-control" [(ngModel)]="memberEmail" [ngModelOptions]="{standalone: true}"> 
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 pb-2 px-4">
                            <button class="btn" type="submit" id="addButton" [disabled]="enableLoader">Add</button>
                        </div>
                    </div>
                    <app-loader *ngIf="enableLoader"></app-loader>
                </form>
                <ng-container *ngIf="showClose">
                    <div class="row">
                        <div class="col">Successfully Updated!</div>
                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 pb-2 px-4">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="added()">Close</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>