<div class="container">
    <div class="row">
        <div class="col pl-0 pr-0">
            <nav class="navbar navbar-expand-lg navbar-dark" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <h5 class="active nav-link" id="head">{{patch.Name}}</h5>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <span type="button" class="material-icons text-light" (click)="backToDashboard()">close</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <form class="mt-3">
        <div class="form-group row">
            <label for="orgDomain" class="col-sm-2 col-form-label">OrgDomain</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="orgDomain" placeholder="Enter OrgDomain" [(ngModel)]="orgDomain" [ngModelOptions]="{standalone: true}">
            </div>
            <label for="orgDomain" class="col-sm-2 col-form-label">Uid</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="uid" placeholder="Enter Uid" [(ngModel)]="uid" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="col-sm-10">
                <button type="button" class="btn btn-primary" [disabled]="showLoader" (click)="patch4()">update</button>
                <ng-container *ngIf="showLoader">
                    <app-loader> </app-loader>
                </ng-container>
            </div>
        </div>
    </form>
    <!-- <button type="submit" class="btn btn-primary" [disabled]="showLoader" (click)="patch4()">update</button>
    <ng-container *ngIf="showLoader">
        <app-loader> </app-loader>
    </ng-container> -->
</div>