.card-header {
    background-color: var(--primary-color);
    color: var(--button-text);
}

.card {
    background-color: var(--secondary-bg);
    color: var(--text);
    box-shadow: var(--box-shadow-bottom);
}