<div class="card">
    <div class="card-header pb-0">
            <div class="pl-4 pt-1"><h4>My Tasks</h4></div>
    </div>
    <div class="card-body pt-0">
        <ng-container *ngIf="!showLoader; else loader">
            <!-- <app-task-cards [tasks]="tasksData" [parentComponent]="parentComponent"></app-task-cards> -->
            <app-data-table [dataForTable]="tasksData" [displayColoumns]="displayColoumns" [pageSize]="5"></app-data-table>
        </ng-container>
        <ng-template #loader>
            <app-loader></app-loader>
        </ng-template>
    </div>
</div>