.card-header {
    background-color: var(--secondary-bg);
    color: var(--text);
    border: none;
    height: 30px;
}

.card {
    background-color: var(--secondary-bg);
    color: var(--text);
    border: none;
}