<ng-Container *ngIf="Status == 'Completed' ">
    <span class="material-icons">
        check_circle_outline
    </span>
</ng-Container>

<ng-Container *ngIf="Status == 'Ready to start' ">
    <span class="material-icons">
        not_started
    </span>
</ng-Container>

<ng-Container *ngIf="Status == 'Blocked' ">
    <span class="material-icons">
        block
    </span>
</ng-Container>

<ng-Container *ngIf="Status == 'Under Progress' ">
    <span class="material-icons">
        arrow_circle_up
    </span>
</ng-Container>

<ng-Container *ngIf="Status == 'Ice Box' ">
    <span class="material-icons">
        inventory_2
    </span>
</ng-Container>