.completed {
    color: #00ff00; 
    padding-right:20px;
}
.Ready {
    color: #ff0080; 
    padding-right:20px;
}
.blocked {
    color: #808080; 
    padding-right:20px;
}
.Under {
    color: #fc6a03; 
    padding-right:20px;
}
.Ice {
    color: #87ceeb; 
    padding-right:20px;
}