<ng-container *ngIf="Status == 'Completed' ">
    <span class="material-icons" style="color: lime; padding-right:20px;" data-toggle="tooltip" data-placement="top" title="completed">
    check_circle_outline
    </span>
</ng-container>

<ng-container *ngIf="Status == 'Ready to start' ">
    <span class="material-icons" style="color: rgb(255, 0, 128); padding-right:20px;" data-toggle="tooltip" data-placement="top" title="Ready to start">
        not_started
    </span>
</ng-container>

<ng-container *ngIf="Status == 'Blocked' ">
    <span class="material-icons" style="color: gray; padding-right:20px;" data-toggle="tooltip" data-placement="top" title="Blocked">
        block
    </span>
</ng-container>

<ng-container *ngIf="Status == 'Under Progress' ">
    <span class="material-icons" style="color: #fc6a03; padding-right:20px;" data-toggle="tooltip" data-placement="top" title="Under Progress">
        arrow_circle_up
    </span>
</ng-container>

<ng-container *ngIf="Status == 'Ice Box' ">
    <span class="material-icons" style="color: skyblue; padding-right:20px;" data-toggle="tooltip" data-placement="top" title="Ice Box">
        inventory_2
    </span>
</ng-container>
