<div class="row">
    <div class="col">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Assignee" [(ngModel)]="isAssigneeChecked" />
            <label class="form-check-label" for="Assignee">Assignee</label>
        </div>
        <ng-container *ngIf="isAssigneeChecked">
            <div class="p-2">
                <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="assignee" />
            </div>
        </ng-container>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Category" [(ngModel)]="isCategoryChecked" />
            <label class="form-check-label" for="Category">Category</label>
        </div>
        <ng-container *ngIf="isCategoryChecked">
            <div class="p-2">
                <select data-style="btn-default" class="form-control" [(ngModel)]="category" [ngModelOptions]="{standalone: true}">
                    <ng-container  *ngFor="let item of appSettings.category ; let i=index">
                        <option>{{item}}</option>
                    </ng-container>
                </select>
            </div>
        </ng-container>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Priority" [(ngModel)]="isPriorityChecked" />
            <label class="form-check-label" for="Priority">Priority</label>
        </div>
        <ng-container *ngIf="isPriorityChecked">
            <div class="p-2">
                <select class="form-control" [(ngModel)]="priority" [ngModelOptions]="{standalone: true}">
                    <ng-container  *ngFor="let item of appSettings.priority ; let i=index">
                        <option>{{item}}</option>
                    </ng-container>
                </select>
            </div>
        </ng-container>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Status" [(ngModel)]="isStatusChecked" />
            <label class="form-check-label" for="Status">Status</label>
        </div>
        <ng-container *ngIf="isStatusChecked">
            <div class="p-2">
                <select class="form-control" [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
                    <ng-container  *ngFor="let item of appSettings.status ; let i=index">
                        <option>{{item}}</option>
                    </ng-container>
                </select>
            </div>
        </ng-container>

        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Difficulty" [(ngModel)]="isDifficultyChecked" />
            <label class="form-check-label" for="Difficulty">Difficulty</label>
        </div>
        <ng-container *ngIf="isDifficultyChecked">
            <div class="p-2">
                <select class="form-control" [(ngModel)]="difficulty" [ngModelOptions]="{standalone: true}">
                    <ng-container  *ngFor="let item of appSettings.difficulty ; let i=index">
                        <option>{{item}}</option>
                    </ng-container>
                </select>
            </div>
        </ng-container>
    </div>
</div>

<div class="row mt-2 mb-2">
    <div class="offset-9 col p-2">
        <button type="submit" class="btn" id="button" (click)="filterByProperties()">Filter</button>
    </div>
</div>