<div class="card ">
    <div class="card-header mb-0">
            <h3 style="color:#5C60EC">Whats New</h3>
    </div>
    <div class="card-body pt-0 whatsnew" style="overflow-y: scroll;">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, consectetur?</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, odit!</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, odit!</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, odit!</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, odit!</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, odit!</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, odit!</p>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, odit!</p>
      <hr>
        <!-- <ng-container *ngIf="noData">
            <p class="pt-4">
                No Data Found
            </p>
        </ng-container> -->
    </div>
</div> 