<div class="card ">
    <div class="card-header">
            <span class="head">Worktez Updates
                <mat-icon fontSet="material-icons-outlined" class="head float-right mr-3">tips_and_updates</mat-icon>
            </span>
    </div>
    <div class="card-body whatsnew" style="overflow-y: scroll;">
     <ng-container *ngIf="releaseData" >
         <ng-container *ngFor="let data of updatesArray">
                <div class="row">
                    <div class="col">                        
                        {{data}}
                    </div>
                </div>
                <hr>
         </ng-container>
     </ng-container>
        <!-- <ng-container *ngIf="noData">
            <p class="pt-4">
                No Data Found
            </p>
        </ng-container> -->
    </div>
</div> 