.card-header {
    background-color: var(--secondary-bg);
    color: var(--text);
    border: none;
}

.card {
    background-color: var(--secondary-bg);
    color: var(--text);
    border: none;
    height: 25rem;
    width: 90%;
}
hr {
    margin: 0;
    border: none;
    border-bottom: 2px solid var(--scrollbar-color);
    margin-bottom: 1rem;
}
.whatsnew::-webkit-scrollbar {
    width: 6px;              
  }
.whatsnew::-webkit-scrollbar-track {
    background: var(--secondary-bg);        
}
.whatsnew::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #5C60EC;
} 