.row {
    color: var(--text);
}

.dropdown-item{
    color: var(--text);
}

#filterMenu, #dropdownUserCard {
    background-color: var(--secondary-bg);
    border-color: var(--primary-color);
    color: var(--text); 
}
#tasksContainer {
    background-color: var(--secondary-bg);
}

.btn {
    color: var(--text);
    background-color: var(--secondary-bg);
    border: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
}
    
.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#tasksContainer.cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card {
    background-color: var(--card-bg);
    color: var(--text);
    border: none;
}

.card-title {
    font-size: 9px;
    display: inline-block;
}

#taskId {
    color: var(--primary-color);
}

.title {
    font-size: 15px;
}

#filterMenu {
    background-color: var(--secondary-bg);
    color: var(--text);
}

#filterButton {
    background-color: var(--primary-color);
    color: white;
}
input{
    background-color: var(--primary-bg);
    color: var(--text);
    border: none;
}
input:focus{
    background-color: var(--primary-bg);
    color: var(--text);
    box-shadow: none;
    outline: none;
},
.btn:focus{
    box-shadow: none;
    outline: 0 none;
}
#teamDropdownButton:hover, #filterDropdownButton:hover, .dropdown-item:hover, #filterButton:hover {
    background-color: var(--dropdown-hover);
    color: var(--button-text-hover); 
}