<div class="row px-3 py-2">
    <div class="col-1">
        <div class="btn-group">
            <button class="btn px-4 dropdown-toggle" type="button" id="teamDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{startService.selectedTeamId}}&nbsp;&nbsp;</button>
            <div class="dropdown-menu dropdown-menu-left" id="dropdownUserCard">
                <ng-container *ngFor="let item of startService.teams">
                    <button class="dropdown-item" style="font-size: 12px" type="button" (click)="updateSelectedTeamId(item)">{{item}}</button>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="col-2 dropdown">
        <button type="button" id="filterDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          class="btn">
            <mat-icon fontSet="material-icons-outlined" class="align-middle pr-4">
                filter_list
            </mat-icon>
            {{currentSprintName}}
        </button>
        <div class="dropdown-menu dropdown-menu-right py-2 px-2" id="filterMenu" aria-labelledby="dropdownMenuButton">
          <div class="input-group">
            <h5 class="pt-1">Sprint No.</h5>
            <input class="form-control mx-2" style="font-size: 11px" type="number" id="filterSprintNumberInput"
              [(ngModel)]="filterSprintNumber" />
            <button id="filterButton" class="btn" style="font-size: 10px" (click)="changeSprintNumber()">
              Filter
            </button>
          </div>
        </div>
    </div>
</div>
<ng-container *ngIf="tasks && !showLoader">
    <div class="row px-3" cdkDropListGroup>
        <ng-container *ngFor="let tasksArr of tasks; let i = index">
            <div class="col">
                <div class="container p-4" cdkDropList (cdkDropListDropped)="onDrop($event, selectedStatusLabels[i])" [cdkDropListData]="tasksArr" id="tasksContainer">
                    <ng-container *ngIf="tasksArr.length; else emptyLabelContainer">
                        <div class="row title">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-2 pt-1"><app-get-icon [DisplayName]="selectedStatusLabels[i]"></app-get-icon> </div> 
                                    <div class="col-10 pt-2">{{selectedStatusLabels[i]}}</div> 
                                </div>
                            </div>
                            <div class="col-3">
                                <ng-container [Status]="selectedStatusLabels[i]">
                                    <div class="nav-item dropdown">
                                        <a class="nav-link" id="navbarDropdownBoards" role="button" data-toggle="dropdown">
                                            <mat-icon fontSet="material-icons-outlined">
                                                expand_more
                                            </mat-icon>
                                        </a>
                                        <div class="dropdown-menu " aria-labelledby="navbarDropdownBoards" >
                                            <ng-container *ngFor="let status of statusLabels">

                                                    <li class="dropdown-item" (click)="changeStatusLabels(status, selectedStatusLabels[i])"> {{status}}</li>

                                            </ng-container>
                                        </div>
                                    </div> 
                                </ng-container>
                            </div>
                        </div>
                        <ng-container *ngFor="let task of tasksArr">
                            <!-- TaskCard -->
                            <div class="card mt-3" cdkDrag>
                                <div class="card-body p-1">
                                    <app-kanban-card [task]="task"></app-kanban-card>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-template #emptyLabelContainer>
                        <div class="row title">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-2 pt-1"><app-get-icon [DisplayName]="selectedStatusLabels[i]"></app-get-icon> </div> 
                                    <div class="col-10 pt-2">{{selectedStatusLabels[i]}}</div> 
                                </div>
                            </div>
                            <div class="col-3">
                                <ng-container [Status]="selectedStatusLabels[i]">
                                    <div class="nav-item dropdown">
                                        <a class="nav-link" id="navbarDropdownBoards" role="button" data-toggle="dropdown">
                                            <mat-icon fontSet="material-icons-outlined">
                                                expand_more
                                            </mat-icon>
                                        </a>
                                        <div class="dropdown-menu " aria-labelledby="navbarDropdownBoards" >
                                            <ng-container *ngFor="let status of statusLabels">
                                                    <li class="dropdown-item" (click)="changeStatusLabels(status, selectedStatusLabels[i])"> {{status}}</li>
                                            </ng-container>
                                        </div>
                                    </div> 
                                </ng-container>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>

<ng-container *ngIf="showLoader">
    <app-loader></app-loader>
</ng-container>