.row {
    color: var(--text);
}

#tasksContainer {
    background-color: var(--secondary-bg);
}

.btn {
    color: var(--text);
    background-color: var(--secondary-bg);
    border: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
}
    
.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#tasksContainer.cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.card {
    background-color: var(--card-bg);
    color: var(--text);
    border: none;
}

.card-title {
    font-size: 9px;
    display: inline-block;
}

#taskId {
    color: var(--primary-color);
}

.title {
    font-size: 15px;
}

#filterMenu {
    background-color: var(--secondary-bg);
    color: var(--text);
}

#filterButton {
    background-color: var(--primary-bg);
}

.dropdown-menu {
    background-color: var(--secondary-bg);
}

.dropdown-item {
    color: var(--button-text);
    font-size: 12px;
}

.dropdown-item:hover {
    color: var(--hover);
    background-color: var(--button-hover-bg);
    cursor: pointer;
}