<div class="card" style="width: 10rem;">
    <div class="dropdown text-right py-0">
        <button role="button" type="button" class="btn dropdown" data-toggle="dropdown"> 
            <span class="material-icons">more_vert</span>
        </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu">
        <a [href]="file.FileUrl" [download]="file.FileName"><button class="dropdown-item" type="button" (click)="download()">Download</button></a>
        <button class="dropdown-item" type="button" (click)="delete()">Delete</button>
    </div>
  </div>
    <div class="card-body py-0">
        <div class="row">
            <div class="col text-center">
                <span id="files" class="material-icons">
                    description
                </span>
                <label>{{shortName}}</label>
            </div>
        </div>
    </div>
  </div>