#profileCard {
  border-radius: 10px;
  border: none;
}

.card {
  background-color: var(--secondary-bg);
  color: var(--text);
}

@media only screen and (max-width: 600px) {
  .whatsNew {
      display: none;
  }
  .currentUserInfo {
    display: none;
  }
}

.btn {
  background-color: var(--primary-color);
  color: #FFFFFF;
}

.btn:hover {
  background-color: var(--dropdown-hover);
  color: var(--primary-color);
}

.loadMore {
  background-color: transparent;
  color: #FFFFFF;
}

.loadMore:hover {
  background-color: var(--dropdown-hover);
  color: var(--primary-color);
}