<div class="row pt-5">
    <div class="col-1"></div>
    <div *ngIf="startService.userReady; else noUser"  class="col col-md-3 currentUserInfo">
        <div class="card" id="profileCard" *ngIf="authService.userAppSetting != undefined; else loader">
            <div class="text-center">
                <img src="{{authService.userAppSetting.photoURL}}" onerror="this.src = '../../../assets/defaultavatar.jpg' " alt="profile-pic" class="rounded-circle mt-2" width="120" height="120">
                <h1>{{authService.userAppSetting.displayName}}</h1>
                <p class="text-muted">Developer</p>
            </div>
            <hr>
            <div class="col">
                <div class="row px-4">
                    <h3>Number of Posts:</h3>
                    <h3 class="text-right ml-auto" id="sprintStatus">{{authService.userAppSetting.UserPostsCounter}}</h3>
                </div>
                <div class="row px-4">
                    <h3>Number of Stars:</h3>
                    <h3 class="text-right ml-auto" id="sprintStatus" >{{authService.userAppSetting.UserReactionCounter}}</h3>
                </div>
            </div>
            <hr>
            <!-- <div class="px-4">
                <h3 *ngIf="recentPosts" > <b>Recent Posts: </b> </h3>
                <ng-container *ngFor="let post of recentPosts">
                    <hr>
                    <p>
                        <p class="row font-weight-light"> <span class="col-6">{{post.LastUpdatedDate}}</span><span class="col-6">{{post.LastUpdatedTime}}</span> </p>
                        {{post.Post}}
                    </p>
                </ng-container>
            </div> -->
        </div>
        
        <ng-template #loader>
            <app-loader></app-loader>
        </ng-template>
        
        <div class="card mt-3 p-4" id="profileCard">
            <h3>Followings</h3>
            <p>Geeks for Geeks</p>
            <p>Machine Learning</p>
            <p>#graphicDesign</p>
            <p>Business</p>
        </div>   
    </div>
    <ng-template #noUser>
        <div class="col col-md-3 currentUserInfo"></div>
    </ng-template>
    
    <div class="col col-md-4">
        <div  class="pb-4">
            <button *ngIf="startService.userReady; else noUser" class="btn" (click)="createPost()" data-toggle="modal" data-target="#createPost">
            Create post<mat-icon fontSet="material-icons-outlined" class="align-middle ml-2">
            add_circle</mat-icon></button>
        </div>
        <ng-container *ngIf="socialPageService.socialPageDataReady && socialPageService.dataReady; else loader">
            <ng-container *ngIf="(socialPageService.socialPageDataJson).length==0">
                <div class="row">
                    <div class="col text-center pt-2" id="noActivityDesc" style="color: var(--text);">No Posts Available.
                    </div>
                </div>
            </ng-container>
    
            <ng-container *ngIf="(socialPageService.socialPageDataJson).length!=0">
                <ng-container *ngFor="let post of socialPageService.socialPageDataJson">
                    <app-posts [post]="post" (switchReactionCompleted)="postReactionSwitched($event)"></app-posts>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!disableLoadMore; else noMoreData">
            <a class="btn btn-outline-secondary oldNotificationBtn" (click)="showOlderPosts()"  [disabled]="disableLoadMore">Show old Posts</a>
        </ng-container>
            <ng-template #noMoreData>
                <div class="text-center">
                    <button class="btn btn-sm" [disabled]="disableLoadMore"> No more data to load...</button>
                </div>
            </ng-template>
        <ng-template #loader>
            <app-loader></app-loader>
        </ng-template>
    </div>
    <div class="col col-md-3 whatsNew">
        <app-whats-new></app-whats-new>
    </div>
    <div class="col-1"></div>
</div>
<ng-container *ngIf="createPostEnabled" id="exampleModalCenterLabel">
    <app-create-post (createPostCompleted)="createPostCompleted($event)"></app-create-post>
</ng-container>
<!-- <app-loader *ngIf="showloader"></app-loader> -->