#loginContainer {
  border: var(--primary-border);
  background-color: var(--secondary-bg);
}

#loginNavbar {
  background-color: var(--primary-color);
  color: var(--button-text);
}

#button {
  background-color: var(--secondary-color);
  border: var(--primary-border);
  color: var(--button-text);
}

#button:focus,
#button:active {
  outline: none;
  box-shadow: none;
}

#nav-login-tab,
#nav-signup-tab {
  border: 2px solid #5a20f0;
  color: var(--text);
}

#emailForm {
  color: var(--text);
}

input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: 0 none;
  border-color: #5a20f0;
}

#topBorder {
  border-top: var(--primary-border);
}

.nav-tabs {
  border-bottom: var(--primary-border);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background-color: var(--primary-bg);
}
