#containerBorder {
    border: 1px solid #5A20F0;
}

#loginNavbar {
    background-color: #5A20F0;
    color: white;
}

#button {
    background-color: #16C85A;
    border: 1px solid #5A20F0;
    color: white;
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}

#nav-login-tab,
#nav-signup-tab {
    border: 2px solid #5A20F0;
    color: white;
}

#emailForm {
    color: white;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: #5A20F0;
}

#topBorder {
    border-top: 1px solid #5A20F0;
}

.nav-tabs {
    border-bottom: 1px solid #5A20F0;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #202124;
}