#loginContainer {
    border: var(--primary-border);
    background-color: var(--secondary-bg);
}

#loginNavbar {
    background-color: var(--primary-color);
    color: var(--button-text);
}

#button {
    background-color: var(--secondary-color);
    border: var(--primary-border);
    color: var(--button-text);
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}