<div class="container-fluid">
    <div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="row px-3 py-2">
                    <div class="col-md-10 col-10">
                        <h2>Create Post</h2>
                    </div>
                        <div class="col-md-2 col-2 text-right">
                            <span class="btn">
                                <mat-icon fontSet="material-icons-outlined" class="align-middle "(click)="close()" title="Close">
                                    close
                                </mat-icon>
                            </span>
                        </div>
                    </div>
                    <div class="row px-4">
                        <div class="col-md-2 col-3">
                            <img src="{{authService.userAppSetting.photoURL}}" onerror="this.src = '../../../../assets/defaultavatar.jpg' " alt="profile-pic" class="rounded-circle dropdown-toggle" width="50" height="50" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </div>
                        <div class="col-md-10 col-9 py-2">
                            <h3>{{authService.userAppSetting.displayName}}</h3>
                        </div>
                    </div>
                    <div class="modal-body py-0">
                        <form #form="ngForm">
                            <div class="form-row">
                                <div class="form-group col-md-12 col">
                                    <form class="row imageData" id="imageData">
                                        <div *ngFor="let url of post.ImagesUrl" class="col-p-0 ml-3">
                                            <div class="col" >
                                                <span class="btn btn-close ">
                                                    <mat-icon fontSet="material-icons-outlined" id="close"class="align-middle "(click)="removeImg(url)" title="Close">
                                                        close
                                                    </mat-icon>
                                                </span>
                                            </div>
                                            <img  class="img ml-md-2 mb-3" id="image" [src]="url" width="200" #image crossorigin height="200" alt="image"  placeholder="Post content">
                                        </div>
                                    </form>
                                    <textarea type="text" class="form-control" rows="5" [(ngModel)]="post.Content" [ngModelOptions]="{standalone: true}" placeholder="Post content"></textarea>   
                                        <div class="col mt-2" style="padding-left:5px;">
                                            <!-- <button class="btn m-auto px-3 py-1" id="video_library"><mat-icon aria-hidden="true" fontSet="material-icons-outlined" class="align-middle mr-3">video_library</mat-icon>Video</button> &nbsp; -->
                                            <input type="file" id="file" style="display: none;" (change)="onSelectFile($event)" multiple >
                                            <label class="btn" id="insert_photo" for="file" >
                                            <mat-icon aria-hidden="true" fontSet="material-icons-outlined" class="align-middle ">insert_photo</mat-icon>
                                            Photo
                                            </label>
                                        </div>
                                </div>
                            </div>
                            <app-loader *ngIf="enableLoader"></app-loader>
                        </form>
                    </div>
                    <div class="modal-footer mt-n1">
                            <div class="col-md-5 col "> <button type="submit" class="btn btn-lg btn-block py-1" id="button" [disabled]="enableLoader" aria-label="Close" (click)="submit()" >Post</button></div>
                    </div>
                </div>
            </div>
        </div>
</div>
