<div class="container-fluid" *ngIf="popupHandlerService.createPostEnabled">
    <div class="modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="createPostTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title " id="createPostTitle"><strong>Create Post</strong></h2>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true" class="material-icons">close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #form="ngForm">
                        <div class="form-row mb-2">
                            <div class="form-group col-md-12 col">
                                <span class="ml-2 text-muted" style="font-size:0.8rem;" id="label">description</span>
                                <textarea type="text" class="form-control form-control-sm" rows="3" [(ngModel)]="post" [ngModelOptions]="{standalone: true}" placeholder="Post content"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer mt-n1">
                    <button type="submit" class="btn btn-lg btn-block" id="button" [disabled]="enableLoader" aria-label="Close" (click)="submit()">Post</button>
                </div>
            </div>
        </div>
    </div>
</div> 