.modal-header {
    border-bottom: none !important;
    padding: 1.1rem;
}

.modal-footer {
    border-top: none !important;
    padding: 0.0rem;
    padding-bottom: 0 !important;
}

.modal-content {
    background-color: var(--secondary-bg);
    color: var(--text);
    border-radius: 6px;
    min-height: 250px;
    padding: 0.75rem;
    justify-content: space-evenly;
    padding-top: 0 !important;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    background-color: var(--input-field);
    color: var(--text);
    border: none;
    padding: 7px;
    border-radius: 6px;
    opacity: 1;
    margin: 5px !important;
}

#button {
    background-color: var(--primary-color);
    color: white;
    width: 90%;
    margin: auto;
}

.btn-outline-primary{
    color: var(--primary-color);
    border-color: var(--primary-color);
}

#button:focus,
#button:active,
#button:hover {
    background-color: var(--dropdown-hover);
    color: var(--button-text-hover);
    cursor: pointer;
    }

.btn {
    color: var(--text);
}

.btn:hover,
#button:hover {
    background-color: var(--dropdown-hover);
    color: var(--button-text-hover);
    border: none;
}


#video_library{
    color: var(--text);
    background-color: var(--secondary-bg);
    border: var(--primary-border);
}

#video_library:hover{
    background-color: var(--dropdown-hover);
    color: var(--button-text-hover);
    cursor: pointer;
}

#insert_photo{
    color: var(--text);
    background-color: var(--secondary-bg);
    border: var(--primary-border);
}

#insert_photo:hover{
    background-color: var(--dropdown-hover);
    color: var(--button-text-hover);
    cursor: pointer;
}

select:focus,
input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: var(--primary-color);
} 

.btn-close{
    background-color: var(--primary-color);
    color: white;
    border: none;
    position: absolute;
    float: right;
    right: 0px;
}