

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
.page_404{ padding:40px 0; 
    background:#fff; 
    font-family: 'Nunito', sans-serif;
}

/* .page_404  img{
     width:100%;
} */


.container{
    padding: 41px 41px;
}

.four_zero_four_bg{
    height: 150px;
    background-position: center;
}
 
 
.four_zero_four_bg h1{
    font-size:80px;
    font-family: 'Nunito', sans-serif;
}
 
.four_zero_four_bg h3{
	font-size:80px;
}
			 
.link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    border-radius:25px;
    margin: 20px 0;
    display: inline-block;
}
	
.contant_box_404{
        /* padding-bottom: 90px; */
     margin-top:-50px;
}