<div class="page p-4">
    <div class="row">
        <div class="col-md-1 col-0"></div>
        <div class="col"></div>
        <div class="col-md-1 col-0"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-0"></div>
        <div class="col d-flex justify-content-center">
            <div class="card text-center pt-4 p-2 b1">
                <span class="align-middle">
                    <mat-icon fontSet="material-icons-outlined card-img-top" class="align-middle">
                        navigation
                    </mat-icon>
                </span>
                <h3 class="card-title">Get started</h3>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card text-center pt-4 p-2 b2">
                <span class="align-middle">
                    <mat-icon fontSet="material-icons-outlined card-img-top" class="align-middle">
                        model_training
                    </mat-icon>
                </span>
                <h3 class="card-title">Blogs and Resources</h3>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="card text-center pt-4 p-2 b3">
                <span class="align-middle">
                    <mat-icon fontSet="material-icons-outlined card-img-top" class="align-middle">
                        attractions
                    </mat-icon>
                </span>
                <h3 class="card-title">Features</h3>
            </div>
        </div>
        <div class="col-md-1 col-0"></div>
    </div>
</div>