<ng-container *ngIf="authService.afauth.user|async">
    <ng-container *ngIf="authService.userAppSettingObservable | async; else loader">
        <ng-container *ngIf="authService.userAppSetting.SelectedOrgAppKey == ''">
            <div class="container-fluid mt-0 mb-4 py-2" style="background-color: rgba(255, 0, 0, 0.414);">
                <h5>Organization Key not found, Please create new organization</h5>
            </div>
            <ng-container *ngIf="useEmulator">
                <app-setup></app-setup>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-template #loader>
        <app-loader></app-loader>
    </ng-template>
</ng-container>
<div id="homePage" data-spy="scroll" data-target="#navbar" data-offset="0">
    <section id="home">
        <div id="intro">
            <p>Filter out what & when with 0 coding</p>
            <button class="btn">Try it for Free</button>
        </div> 
        <img id="graph" src="../../../assets/graphs.svg" alt="graphs">                   
    </section>
    <section id="services">
        <h1 class="sectionTitle" style="text-align: center">Services</h1>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/services_template.svg" alt="Template">
                        <div class="card-block">
                            <p class="card-text">
                                Use our template to adopt to the best industrial practices
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/services_filter.svg" alt="Filter">
                        <div class="card-block">
                            <p class="card-text">
                                Smart filters to highlight exactly what you need
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/services_project.svg" alt="Project">
                        <div class="card-block">
                            <p class="card-text">
                                Sprint based project deployment
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="../../../assets/services_report.svg" alt="Report">
                        <div class="card-block">
                            <p class="card-text">
                                Smart filters to highlight exactly what you need
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>            
    </section>
    <section id="aboutUs">
        <img id="desktop" src="../../../assets/desktop.png" alt="desktop">  
        <div id="aboutUsText">
            <h4>ABOUT US</h4>
            <div class="line"><h1 class="sectionTitle">Why do you need Worktez?</h1></div>
            <p>
                WorkTez promotes a happy workFromHome environment because a happy employee is way 
                more productive in comparison to an employee burdened with loads of work!
                <br><br>
                With an agile platform like WorkTez, you can be affirmed by a more organised 
                remote team management.
                <br><br>
                You can assign, prioritise and fix feasible deadlines so that completion of tasks 
                is not an ordeal anymore!
            </p>
        </div>        
    </section>
    <section id="features"> 
        <div id="FeatureText">
            <h4>Features</h4>
            <div class="line"><h1 class="sectionTitle">Features of WorkTez</h1></div>
            <span style="color: #EDA45B">
                Performance inspection with comprehensible charts
            </span>
            <p>
                You can assign, prioritise and fix feasible deadlines so that 
                completion of tasks is not an ordeal anymore!
            </p>
            <span style="color: #529BDD">
                Github integrations
            </span>
            <p>
                You can assign, prioritise and fix feasible deadlines so that 
                completion of tasks is not an ordeal anymore!
            </p>
            <span style="color: #D91D5C">
                File storage
            </span>
            <p>
                You can assign, prioritise and fix feasible deadlines so that 
                completion of tasks is not an ordeal anymore!
            </p>
        </div>  
        <img id="performance-chart" src="../../../assets/performanceChart.svg" alt="performance-chart">   
    </section>
    <section id="testimonial">
        <div class="testimonialText">
            <div class="line"><h1 class="sectionTitle" style="text-indent: 10px;">Testimonials</h1></div>
            <p>Statements from our past customer, describing how our product helped them.</p>
        </div>        
        <div class="container-flex">
            <div class="row flex-row flex-nowrap" style="overflow-x: scroll; overflow-y: hidden; min-width: 50%;">
                <div class="col">
                    <div class="card h-100">                        
                        <div class="card-block testimonial-card">
                            <p class="card-text">
                                WorkTez's greatest strengths versus other solutions
                                I’ve used is its simplicity and ease of customization, 
                                which lets companies create the perfect workflow for their unique situations.
                            </p>
                        </div>
                        <div class="card-footer container">
                            <img class="card-img-btm img-fluid" src="../../../assets/defaultavatar.jpg" alt="user">
                            <div class="aboutUser">
                                <span class="user" >Rebecca Flex</span>                              
                                <p> CEO at Company1</p>
                                <p>10 July 2021</p>
                            </div>                            
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">                        
                        <div class="card-block testimonial-card">
                            <p class="card-text">
                                WorkTez is a great solutions for customization for workflow 
                                for various use-cases & situations.
                            </p>
                        </div>
                        <div class="card-footer container">
                            <img class="card-img-btm img-fluid" src="../../../assets/defaultavatar.jpg" alt="user">
                            <div class="aboutUser">
                                <span class="user" >Flex Joe</span>
                                <p> CEO at Company2</p>
                                <p>10 December 2021</p>
                            </div> 
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">                        
                        <div class="card-block testimonial-card">
                            <p class="card-text">
                                WorkTez's greatest strengths versus other solutions
                                I’ve used is its simplicity and ease of customization, 
                                which lets companies create the perfect workflow for their unique situations.
                            </p>
                        </div>
                        <div class="card-footer container">
                            <img class="card-img-btm img-fluid" src="../../../assets/defaultavatar.jpg" alt="user">
                            <div class="aboutUser">
                                <span class="user" >Rebecca Flex</span>
                                <p> CEO at Company1</p>
                                <p>10 July 2021</p>
                            </div>                            
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">                        
                        <div class="card-block testimonial-card">
                            <p class="card-text">
                                WorkTez is a great solutions for customization for workflow 
                                for various use-cases & situations.
                            </p>
                        </div>
                        <div class="card-footer container">
                            <img class="card-img-btm img-fluid" src="../../../assets/defaultavatar.jpg" alt="user">
                            <div class="aboutUser">
                                <span class="user" >Flex Joe</span>
                                <p> CEO at Company2</p>
                                <p>10 December 2021</p>
                            </div> 
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">                        
                        <div class="card-block testimonial-card">
                            <p class="card-text">
                                WorkTez is a great solutions for customization for workflow 
                                for various use-cases & situations.
                            </p>
                        </div>
                        <div class="card-footer container">
                            <img class="card-img-btm img-fluid" src="../../../assets/defaultavatar.jpg" alt="user">
                            <div class="aboutUser">
                                <span class="user" >Flex Joe</span>
                                <p> CEO at Company2</p>
                                <p>10 December 2021</p>
                            </div> 
                            </div>
                    </div>
                </div>
                
            </div>
        </div>   
    </section>
    <section id="updates">
        <div class="row" style="padding: 3% 20%;">
            <div class="col-md-8 col-8">
                <div class="updatesText">
                    <h1 style="font-weight: bold;">Keep yourself updated.</h1>
                    <p>We'll keep you posted about all our upgrades!</p>
                    <p>Go afar with newsletter.</p>
                </div >
            </div>
            <div class="col-md-3 col-3">
                <div class="updatesForm" style="white-space:nowrap! important;" >
                    <input type="text" placeholder="Enter your email address " style="size:25px; min-width: 250px; white-space:nowrap;">    
                    <button class="btn" style="border-radius: 90%; background-color: white">
                        <span class="material-icons">arrow_forward</span>
                    </button>        
                </div>             
            </div>
        </div>
        <div class="col-md-1 col-1"></div>
    </section>
    </div>