<ng-container *ngIf="!isAppKeyAvailable && isLoggedIn">
    <ng-container *ngIf="!showLoader; else loader">
        <ng-container *ngIf="authService.userAppSetting.AppKey == ''">
            <div class="container-fluid mt-0 mb-4 py-2" style="background-color: rgba(255, 0, 0, 0.414);">
                <h5>Organization Key not found, Please create new organization</h5>
            </div>
            <ng-container *ngIf="useEmulator">
                <app-setup></app-setup>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-container>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
Welcome to worktrolly