.full-width-table {
  width: 100%;
  background-color: transparent;
  color: var(--text);
}

mat-paginator,
td {
  background-color: transparent;
  color: var(--text);
  border: transparent;
}

th {
  color: var(--button-text);
}

tr {
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: var(--primary-bg);
}