<div class="row">
  <div class="col-md-3 col-12" type="button" *ngFor="let field of fields">
    <div
      class="card text-white mb-3"
      [ngStyle]="{
        'background-color': field.fieldBgColor,
        'max-width': '18rem'
      }"
    >
      <div class="card-body">
        <h5 class="card-title" style="font-size: 18px">
          {{ field.fieldName }}
        </h5>
        <div class="row card-text" style="font-size: 12px">
          <div class="col-md-6">No. of Task:</div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
