#editPageTaskContainer,
.modal-content {
    border: var(--primary-border);
    background-color: var(--secondary-bg);
    color: var(--text);
}

.btn{
    color: var(--button-text);
    background-color: var(--button-bg);
}


#button:focus,
#button:active,
.btn:hover {
    background-color: var(--hover);
}

.clr {
    background-color: white;
}

.header {
    font-weight: bold;
}

.head {
    font-weight: bolder;
}

#font {
    font-size: 20px;
    background-color: var(--secondary-color);
    color: var(--button-text);
}

#navbarMenu,
.modal-header {
    background-color: var(--primary-color);
}

select:focus,
input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: var(--primary-color);
}