<div class="dropdown">
    <span class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
        <svg id="filter_1_" data-name="filter (1)" xmlns="http://www.w3.org/2000/svg" width="22.836" height="16.176" viewBox="0 0 22.836 16.176">
            <path id="Path_40" data-name="Path 40" d="M16.321,10.9H3.952a.952.952,0,1,1,0-1.9h12.37a.952.952,0,0,1,0,1.9Zm8.564,0H21.079a.952.952,0,0,1,0-1.9h3.806a.952.952,0,0,1,0,1.9Z" transform="translate(-3 -6.621)" fill="var(--button-text)"/>
            <path id="Path_41" data-name="Path 41" d="M18.7,13.161a3.33,3.33,0,1,1,3.33-3.33A3.33,3.33,0,0,1,18.7,13.161Zm0-4.758A1.427,1.427,0,1,0,20.127,9.83,1.427,1.427,0,0,0,18.7,8.4ZM24.885,20.3H12.515a.952.952,0,1,1,0-1.9h12.37a.952.952,0,1,1,0,1.9Zm-17.127,0H3.952a.952.952,0,1,1,0-1.9H7.758a.952.952,0,1,1,0,1.9Z" transform="translate(-3 -6.5)" fill="var(--button-text)"/>
            <path id="Path_42" data-name="Path 42" d="M10.33,23.161a3.33,3.33,0,1,1,3.33-3.33,3.33,3.33,0,0,1-3.33,3.33Zm0-4.758a1.427,1.427,0,1,0,1.427,1.427A1.427,1.427,0,0,0,10.33,18.4Z" transform="translate(-3.194 -6.985)" fill="var(--text)"/>
        </svg>
    </span>
    <div class="dropdown-menu dropdown-menu-right p-0" id="dropdownRangeCard">
        <div class="container p-3">
            <div class="row m-0 align-items-center" id="header">
                <div class="col p-2">
                    <h6>Custom Sprint Range</h6>
                </div>
            </div>
            <div class="row p-1 align-items-center">
                <div class="col-12">
                    <input type="number" min="1" class="form-control" placeholder="Start Range" [(ngModel)]="sprintRange1" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="row p-1 align-items-center">
                <div class="col-12">
                    <input type="number" min="2" class="form-control" placeholder="End Range" [(ngModel)]="sprintRange2" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="row p-1">
                <div class="col-12">
                    <button type="submit" class="btn btn-block" id="button" (click)="validateRange()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>