#header {
    color: var(--text);
}

#button {
    background-color: var(--secondary-color);
    color: var(--input-field);
}

#button:focus,
#button:active,
#dropdownMenuButton:hover {
    background-color: var(--secondary-color);
}

input {
    background-color: var(--primary-bg);
    border: none;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: none;
    outline: 0 none;
    background-color: var(--primary-bg);
}

#dropdownRangeCard {
    background-color: var(--secondary-bg);
    color: var(--input-field);
}