#button, #dropdownMenuButton {
    background-color: var(--primary-color);
    color: var(--button-text);
}

#button:focus,
#button:active,
#dropdownMenuButton:hover {
    background-color: var(--secondary-color);
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: var(--primary-color);
}

#header {
    background-color: var(--primary-color);
}

#dropdownRangeCard {
    color: var(--text);
    background-color: var(--secondary-bg);
    border-color: var(--primary-color);
}