<ng-container *ngIf="Priority == 'Low' ">
    <div [ngClass]="Border == true ? 'lowBorder' : 'low' " >
        <span class="material-icons low" data-toggle="tooltip" data-placement="top" title="Low">
            keyboard_arrow_down
        </span>
    </div>
</ng-container>

<ng-container *ngIf="Priority == 'Medium' ">
    <div [ngClass]="Border == true ? 'mediumBorder' : 'medium' " >
        <span class="material-icons medium" data-toggle="tooltip" data-placement="top" title="Medium">
            sync_alt
        </span>
    </div>
</ng-container>

<ng-container *ngIf="Priority == 'High' ">
 <div [ngClass]="Border == true ? 'highBorder' : 'high' " >
        <span class="material-icons high" data-toggle="tooltip" data-placement="top" title="High">
            keyboard_arrow_up
        </span>
    </div>
</ng-container>