#button {
    background-color: #10be65;
    border: 2px solid #8120f0;
    color: white;
}

#button:focus,
#button:active {
    outline: 0 none;
    box-shadow: none;
}

input:focus,
select:focus,
textarea:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: #8120f0;
}