.card-header {
  background-color: var(--primary-bg);
  color: var(--text);
  border: none;
  padding-bottom: 0%;
}

.card {
  background-color: var(--primary-bg);
  color: var(--text);
  border: none;
  width: 100%;
}

.dropdown{
  color: var(--text);
}

h3 {
  color:#5C60EC;
}
