<ng-container *ngIf="commentDataReady; else loader">
  <div class="card mt-2">
    <div class="card-header">
      <div class="row">
        <div class="col">
          <app-suggestion-bucket [email]="user.email" [showEmail]="false"></app-suggestion-bucket>
        </div>
        <div class="col d-flex justify-content-end">
          <button class="btn ml-auto p-0" style="padding-left: 30px;margin-bottom: 35px;"><mat-icon fontSet="material-icons" class="align-middle">more_vert</mat-icon></button> 
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      {{comment.Content}}
    </div>
  </div>
</ng-container>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
