<div class="card text-dark mb-3 taskCards" (click)="openTaskDetails(task.id)">
    <div class="card-header">
        <div class="row pb-2">
            <div class="col-md-1 col-2 px-2">
                {{task.Status}}
            </div>
            <div class="col-md-1 col-2 px-2">
                {{task.Priority}}
            </div>
            <div class="col-md-1 col-2 px-2">
                {{task.id}}
            </div>
            <div class="col-md-7 col-4 px-2">
                {{task.Title}}
            </div>
            <div class="col-md-2 col-2 px-2">
                {{task.Assignee}}
            </div>
        </div>
    </div>
</div>