<div class="card text-white bg-dark mb-3" (click)="openTaskDetails(task.id)" style="max-width: 32rem;">
    <div class="card-header" id="cardDate"></div>
    <div class="card-body py-3">
        <div class="row pb-2">
            <div class="col-md-4 col-4">
                <h6 class="card-title text-center py-1" style="background-color: black;">Id: </h6>
            </div>
            <div class="col-md-8 col-8 px-2" id="#">
                {{task.id}}
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-md-4 col-4">
                <h6 class="card-title text-center py-1" style="background-color: black;">Title: </h6>
            </div>
            <div class="col-md-8 col-8 px-2" id="cardTitle">
                {{task.Title}}
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-md-4 col-4">
                <h6 class="card-title text-center py-1" style="background-color: black;">Priority: </h6>
            </div>
            <div class="col-md-8 col-8 px-2" id="cardPriority">
                {{task.Priority}}
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-md-4 col-4">
                <h6 class="card-title text-center py-1" style="background-color: black;">Assignee: </h6>
            </div>
            <div class="col-md-8 col-8 px-2" id="cardAssignee">
                {{task.Assignee}}
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-md-4 col-4">
                <h6 class="card-title text-center py-1" style="background-color: black;">Creator: </h6>
            </div>
            <div class="col-md-8 col-8 px-2" id="cardCreator">
                {{task.Creator}}
            </div>
        </div>

    </div>
</div>
