.app-theme {
    min-height: 100vh;
    background-color: var(--primary-bg);
    position: relative;
}

body {
    height: 100%;
}

.theme-light {
    --primary-color: #dc3226;
    --secondary-color: #fbaa1a;
    --header-bg: #fff;
    --text: #000;
    --button-text: #fff;
    --primary-bg: #ffffff;
    --secondary-bg: #ffffff;
    --primary-navbar-background-image: linear-gradient(to right, #d81b61, #dc3226, #fbaa1a);
    --primary-border: 0px solid #546e7a;
    --hover: #fbaa1a;
    --box-shadow-top: 0px 0px 5px 0px #546e7a;
    --box-shadow-bottom: 0px 0px 5px 0px #546e7a;
    --button-bg: #dc3226;
    --button-hover-bg: #fbaa1a;
}

.theme-dark {
    --primary-color: #dc3226;
    --secondary-color: #fbaa1a;
    --header-bg: #20282E;
    --text: #fff;
    --button-text: #fff;
    --primary-bg: #11171B;
    --secondary-bg: #20282E;
    --primary-navbar-background-image: linear-gradient(to right, #d81b61, #dc3226, #fbaa1a);
    --primary-border: 0px solid #546e7a;
    --hover: #fbaa1a;
    --box-shadow-top: 0px 0px 2px 0px #20282E;
    --box-shadow-bottom: 0px 0px 2px 0px #20282E;
    --button-bg: #dc3226;
    --button-hover-bg: #fbaa1a;
}