.app-theme {
    min-height: 100vh;
    background-color: var(--primary-bg);
    position: relative;
}

body {
    height: 100%;
}

.theme-light {
    --primary-color: #5559D9;
    --secondary-color: #67CB45;
    --header-bg: #fff;
    --text: #545454;
    --button-text: #545454;
    --button-text-hover: #5559D9;
    --primary-bg: #F6F7F9;
    --secondary-bg: #FFFFFF;
    --secondary-header-bg: rgba(92, 96, 236, 0.2);
    --primary-border: 0px solid #546e7a;
    --hover: #5C60EC;
    --box-shadow-top: 0px 0px 3px 0px #0C0F7112;
    --box-shadow-bottom: 0px 0px 3px 0px #0C0F7112;
    --button-bg: none;
    --button-hover-bg: #fff;
    --progress-bg: #E9ECEF;
    --card-bg: #FFFFFF;
    --input-field: #F6F7F9;
    --heading-text: #272845;
    --danger-color: #c62828;
    --button-bg: #4286f43f;
    --button-text2: #4285F4;
}

.theme-dark {
    --primary-color: #5559D9;
    --secondary-color: #67CB45;
    --header-bg: #20282E;
    --text: #fff;
    --button-text: #D4D4D6;
    --button-text-hover: #5559D9;
    --primary-bg: #11171B;
    --secondary-bg: #20282E;
    --secondary-header-bg: rgba(92, 96, 236, 0.2);
    --primary-border: 0px solid #546e7a;
    --hover: #5559D9;
    --box-shadow-top: 0px 0px 2px 0px #20282E;
    --box-shadow-bottom: 0px 0px 2px 0px #20282E;
    --button-bg: none;
    --button-hover-bg: #20282E;
    --progress-bg: #E9ECEF;
    --card-bg: #26272E;
    --input-field: #1E1F28;
    --heading-text: #F6F7F9;
    --danger-color: #c62828;
    --button-bg: #4286f43f;
    --button-text2: #4285F4;
}
