<div class="card">
    <div class="card-header pr-4">
        <div class="row align-items-center">
            <div class="col-md-10">
                <h4>Team Performance Chart</h4>
            </div>
            <div class="col-md-2 float-right">
                <div class="row">
                    <app-range-card (setRange)="onGetRange($event)"></app-range-card>
                    <app-select-dropdown [teamMembers]="teamMembers" (setteamMember)="onGetTeamMember($event)"></app-select-dropdown>
                </div> 
            </div>
        </div>
    </div>
    <div class="card-body" *ngIf="!showLoader && (data|async)?.length != 0">
        <app-column-chart [data]="data | async" [columnNames]="columnNames" [teamId]="teamId"></app-column-chart>
    </div>
    <div class="card-body" *ngIf="showLoader || (data|async)?.length == 0">
        <app-loader></app-loader>
    </div>
</div>