#cardDescription {
    border: var(--primary-border);
    /* background-color: var(--secondary-bg); */
    color: var(--text);
}

#descriptionTaskDescription {
    white-space: pre-wrap;
}

.activityHeading {
    color: var(--text);
}

#button, .btn {
    background-color: var(--primary-color);
    color: var(--button-text);
}

#button:focus,
#button:active,
.btn:hover {
    background-color: var(--secondary-color);
}

#navbarMenu {
    background-color: var(--primary-color);
}

.sprint {
    color: var(--secondary-color);
}

.card {
    background-color: var(--primary-bg);
    box-shadow: var(--box-shadow-bottom);
}

.card-body {
    background-color: var(--secondary-bg);
    color: var(--text);
}

#idTaskDescription {
    color: var(--primary-color);
    font-weight: bold;
}

#header {
    font-weight: bold;
}

#font {
    font-size: 20px;
}

@media (max-width: 991px) {
    .navbar-nav {
        float: right;
        flex-direction: row;
    }
}