.container-fluid{
    padding: 20px 110px 0px 110px;
    color: var(--text);
}

.card, .table {
    background-color: var(--secondary-bg);
    color: var(--text) !important;
}

.dropdown-menu {
    color: var(--text);
    background-color: var(--secondary-bg);
}
.pt-4, .py-4{
    padding-top: 1.5rem !important;

}

span{
    cursor: pointer;
}
.dropdown-item {
    color: var(--text);
    font-size: 12px;
}
.dropdown-item:hover {
    background-color: var(--secondary-bg);
    color: var(--button-text-hover); 
}

.activity-card {
    background-color: var(--secondary-bg);
    color: var(--text);

}
form-row px-4 pt-4{ 
    overflow-y:auto;
    overflow-x: hidden; 
    width: 106%;
    height: 15vh;
    position: static;
}
nav nav-tabs nav-fil:a {
    cursor: pointer;
}
       
.navbarMenu:th {
    cursor: default;
}

#headerLabel{
    font-size: 12px;
    color: var(--table-header);
}

#label{
    color: var(--table-header);
    margin-right:8px;
}
#value {
    color: var(--text);
    font-weight: bolder;
}

.part {
    padding: 2px 30px 2px 30px;
    border-color: var(--dropdown-hover);
    border-style: solid;
    border-width: medium;
    
}

.btn {
    padding: 2px;
    font-size: 30px;
    color: var(--text);
}

a.active.nav-link{
    background-color: var(--dropdown-hover) !important;
    color: var(--button-text-hover) !important;  
    border-color: var(--button-text-hover) !important;
    font-weight: bolder;    
}

a.nav-link{
    background-color: var(--secondary-bg) !important;
    color: var(--text) !important;      
}

#noActivityDesc {
    color: var(--text);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color); 
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .container-fluid {
        padding: 4px 40px 0px 40px;
    }   
    .part {
        padding: 1px 10px 1px 10px;
    }
    h5 {
        font-size: 14px;
    }
    #headerLabel {
        font-size: 10px;
    }
}