#cardDescription {
    border: var(--primary-border);
    background-color: var(--secondary-bg);
    color: var(--text);
}

#button {
    background-color: var(--secondary-color);
    border: var(--primary-border);
    color: var(--button-text);
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}

#navbarMenu {
    background-color: var(--primary-color);
}

@media (max-width: 991px) {
    .navbar-nav {
        float: right;
        flex-direction: row;
    }
}