#cardDescription {
    border: 1px solid #5A20F0;
    background-color: var(--card-bg);
    color: var(--text);
}

#button {
    background-color: #16C85A;
    border: 1px solid #5A20F0;
    color: white;
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}

#navbarMenu {
    background-color: #5A20F0;
}

@media (max-width: 991px) {
    .navbar-nav {
        float: right;
        flex-direction: row;
    }
}