#cardDescription {
    border: var(--primary-border);
    background-color: var(--secondary-bg);
    color: var(--text);
    white-space: pre-wrap;
}

.activityHeading {
    color: var(--text);
}

#button {
    background-color: var(--secondary-color);
    border: var(--primary-border);
    color: var(--button-text);
}

#head {
    font-weight: bolder;
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}

#navbarMenu {
    background-color: var(--primary-color);
}

.card {
    background-color: #d1ecf1;
    border: #d1ecf1;
}

.sprint {
    color: var(--secondary-color);
}

#header {
    font-weight: bold;
}

#font {
    font-size: 20px;
}

.modal-header{
    background-color: var(--primary-color);
    color: var(--button-text);
    border: none;
}


.modal-body{
    background-color: var(--primary-bg);
    color: var(--text);
}
#modal-header{
    color: var(--button-text);
}

.modal-footer{
    background-color: var(--primary-bg);
    color: var(--text);
    border: none;
}
.btn{
    color: var(--button-text);
    background-color: var(--primary-color);
}


@media (max-width: 991px) {
    .navbar-nav {
        float: right;
        flex-direction: row;
    }
}