.card {
    background: var(--secondary-bg);
    color: var(--text);
    border: none;
    border-radius: 10px;
    height: 100%;
}

.task:hover {
    background: var(--primary-bg);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.close {
    color: var(--text);
}
.close:hover{
    cursor: pointer;
}


#SuccessIcon{
    color: var(--secondary-color);
    font-size: 55px;
}