#header {
    background-color: var(--primary-color);
}

#dropdownSelectCard {
    color: var(--text);
    background-color: var(--secondary-bg);
}

#dropdownMenuButton {
    background-color: var(--primary-color);
    color: var(--button-text);
}

#dropdownMenuButton:hover {
    background-color: var(--secondary-color);
}