#dropdownSelectCard {
    color: var(--text);
    background-color: var(--secondary-bg);
    border-color: var(--primary-color);
}

#dropdownMenuButton {
    color: var(---text);
}

#dropdownMenuButton:hover {
    background-color: var(--dropdown-hover);
    color: var(--button-text-hover); 
}

#button {
    background-color: var(--secondary-color);
    color: white;
}