<div class="card">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-6 pl-4">
                <h6 class="m-0">Performance Chart</h6>
            </div>
            <div class="col-6 text-right">
                <app-range-card (setRange)="onGetRange($event)"></app-range-card>
            </div>
        </div>
    </div>
    {{data.length}}
    {{showLoader}}
    <div class="card-body pb-4" *ngIf="data.length && !showLoader">
        <app-chart [data]="data"></app-chart>
    </div>
    <div class="card-body" *ngIf="showLoader">
        <app-loader></app-loader>
    </div>
</div>