<div id="taskPage">
    <div class="container">
        <div class="row align-items-center py-1 pl-4" id="navbarMenu">
            <div class="col-8 pt-3">
                <h4>Tasks</h4>
            </div>
            <div class="col text-right">
                <span [ngClass]="{'toggleFilter':showFilter}" class="btn material-icons" data-toggle="tooltip" data-placement="top" title="Filter Menu" (click)="showFilterOptions()">filter_list</span>
                <span class="btn material-icons" (click)="backToDashboard()">close</span>
            </div>
        </div>
        <ng-container *ngIf="showFilter">
            <app-filter-task (filterProperty)="applyFilters($event)" [currentSprintNumber]="currentSprintNumber" [defaultProject]="teamId"></app-filter-task>
        </ng-container>
        <div class="row pt-1">
            <ng-container *ngIf="!showLoader; else loader">
                <div class="col">
                    <!-- <app-task-cards [tasks]="tasksData" [parentComponent]="parentComponent"></app-task-cards> -->
                    <app-data-table [dataForTable]="tasksData" [displayColoumns]="displayColoumns" [pageSize]="10"></app-data-table>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>