<div id="taskPage">
    <div class="container">
        <div class="row align-items-center py-2" id="navbarMenu">
            <div class="col-8">
                <h5 style="font-weight:bolder">Tasks</h5>
            </div>
            <div class="col text-right">
                <span type="button" [ngClass]="{'toggleFilter':showFilter}" class="btn material-icons text-light" data-toggle="tooltip" data-placement="top" title="Filter Menu" (click)="showFilterOptions()">filter_list</span>
                <span type="button" class="btn material-icons text-light" (click)="backToDashboard()">close</span>
            </div>
        </div>
        <div class="row pt-1">
            <ng-container *ngIf="showFilter">
                <div class="col-md-12">
                    <div class="input-group col-2">
                        <input class="form-control" style="font-size: 11px;" type="number" id="filterSprintNumberInput" [(ngModel)]="filterSprintNumber">
                        <div class="col-md-3 col-3">
                            <button class="btn" id="dropdownButton" style="font-size: 10px;" (click)="changeSprint(filterSprintNumber)">Filter</button>
                        </div>
                    </div>
                    <app-filter-task (filterProperty)="applyFilters($event)" [defaultProject]="project"></app-filter-task>
                </div>
            </ng-container>
            <ng-container *ngIf="tasksData">
                <div class="col">
                    <app-task-cards [tasks]="tasksData"></app-task-cards>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<ng-container *ngIf="!showFilter && !(tasksData)">
    <app-loader></app-loader>
</ng-container>