#dropdownUserCard {
    border: 1px solid #5A20F0;
}

.dropdown-item:hover {
    background-color: #5A20F0;
}

#username {
    background-color: #5A20F0;
    color: white;
    font-weight: bolder;
}

#line {
    border: 1px solid #5A20F0;
}