<div class="btn-group">
    <img src="{{user.photoURL}}" onerror= "this.src = '../../assets/defaultavatar.jpg' " alt="profile-pic" class="rounded-circle dropdown-toggle" width="30" height="30" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="dropdown-menu dropdown-menu-right p-2" id="dropdownUserCard">
        <div class="text-center align-middle">
            <img src="{{user.photoURL}}" onerror= "this.src = '../../assets/defaultavatar.jpg' " alt="profile-pic" class="rounded-circle" width="50" height="50" >
            <p class="dropdown-item" id="username">
                {{user.displayName}}
            </p>
            <hr>
        </div>
        <button class="dropdown-item" type="button" (click)="profile()">Profile</button>
        <button class="dropdown-item pt-2" id="logout-btn" type="button" (click)="onLogout()">Logout</button>
    </div>
</div>