#dropdownUserCard {
    background-color: var(--secondary-bg);
    box-shadow: var(--box-shadow-bottom);
}

.dropdown-item {
    color: var(--button-text);
    cursor: pointer;
}

.dropdown-item:hover {
    color: var(--button-text-hover);
    background-color: var(--secondary-bg);
}

#username {
    color: var(--text);
}

#logout-btn {
    color: var(--danger-color);
}