.errorCard {
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.card-body {
    background-color: var(--secondary-bg);
    color: var(--text);
}

@media only screen and (max-width: 600px) {
    .errorCard {
        width: 100%;
        height: 160%;
    }
}