<div class="btn-group">
    <img src="{{user.photoURL}}" alt="profile-pic" class="rounded-circle dropdown-toggle" width="40" height="40" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="dropdown-menu dropdown-menu-right" id="dropdownUserCard">
        <p class="dropdown-item" id="username">Hello {{user.displayName}}</p>
        <hr id="line" />
        <button class="dropdown-item" type="button">Profile</button>
        <button class="dropdown-item" id="login-btn" type="button" (click)="onLogout()">Logout</button>
    </div>
</div>