#dropdownUserCard {
    border: 1px solid #8120f0;
}

.dropdown-item:hover {
    background-color: #8120f0;
}

#username {
    background-color: #8120f0;
    color: white;
    font-weight: bolder;
}

#line {
    border: 1px solid #8120f0;
}