a {
    color: var(--text);
    text-decoration: none;
    font-size: 13px;
}

#notificationBox:hover {
    border: 1px solid var(--button-text-hover);
    background-color: var(--dropdown-hover);
}

#dt {
    color: var(--button-text);
}

#notificationBox{
    background-color: var(--secondary-bg);
    margin: 2%;
    padding: 3% !important;
}