<div class="card" style="width: 18rem;" *ngIf="labelsReady">
    <div class="card-header">{{scope}}    
    <ul class="list-group list-group-flush">
    <ng-container *ngFor="let item of labels">
        <li class="list-group-item">
            <div class="row">
                <div class="col-8">
                    {{item.DisplayName}}
                </div>
                <div class="col-4 text-right">
                    <mat-icon fontSet="material-icons-outlined" class="align-middle px-1 icons" (click)="openEditProperties(item)">
                        edit
                    </mat-icon>
                    <mat-icon fontSet="material-icons-outlined" class="align-middle px-1 icons" (click)="deletedLabel(item)">
                        delete
                    </mat-icon>
                </div>
            </div>
        </li>
    </ng-container>
    </ul>
</div>
