<div class="container">
    <h2 class="text-center">TERMS AND CONDITIONS</h2>
    <div class="row">
        <div class="col">
            <!-- introduction -->
            <p>Welcome to <span class="font-weight-bold">Worktez,</span> 
            <p>We're glad you are here, and we hope you enjoy everything we have to offer.</p>
            <p>Please read these Terms and conditions cautiously because they are a binding agreement
            between You and Worktez. </p>
            <p>These terms and conditions govern 'your' (User/ Client's) access to and use of our platform
            and services. The product, platform and the services are offered to you subject to your
            acceptance, without modification (except under special circumstances) of these terms. </p>
            <p> Once the Terms of Use is accepted by you solely in free will, these Terms and conditions
            form a legally binding contract between you and Worktez.</p>
            <p>Please read these Terms of Use carefully. By accepting these Terms of Use, you acknowledge
            that you have read, understood, and agree to be bound by these Terms of Use.</p>
            <p>For further details/ queries do contact us @<a href="mailto:info@worktez.com"> info@worktez.com</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ol >
                <!-- interpretation section -->
                <li><h3 class="font-weight-bold" ><u> INTERPRETATION - </u></h3>
                    <ul>
                        <li>
                            <p><span class="font-weight-bold">Terms of Use - </span> These standard terms of use of the Platform and the Services.</p>
                        </li>
                        <li><p><span class="font-weight-bold">User - </span>herein is a natural person who uses the Platform and the Services in its
                            individual capacity or under the authorization of organization/ client.
                            The words referring to a person or persons include companies, firm, organization,
                            individual, corporations etc.</p>
                        </li>
                        <li><p><span class="font-weight-bold">Party/Parties - </span>In singular, either Worktez or the User/Client, depending on the
                            context, in plural both.</p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold">Platform - </span>Additional Application, and the Information System as a whole, in both the
                                web and mobile application.</p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold">Services - </span>Any services provided by Worktez to the User/Client under the Contract.</p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold">Contents - </span>The data, works and other materials added by the Users (video, photo,
                                picture, drawing, text, etc.). The Contents include any personal data processed by the Client and/or the Users on the Platform.
                            </p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold">Automated means - </span>any equipment capable of operating automatically in response to
                                instructions given for the purpose of processing data.</p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold">Data - </span>includes a representation of information, facts, concepts, opinions or
                                instructions in a manner suitable for communication, interpretation or processing by
                                humans or by automated means.</p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold">Personal data - </span>means data about or relating to a natural person who is directly or
                                indirectly identifiable, having regard to any characteristic, trait, attribute or any other
                                feature of the identity of such natural person, whether online or offline, or any
                                combination of such features with any other information, and shall include any
                                inference drawn from such data for the purpose of profiling;</p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold">Data Harvesting - </span>is the process to extract valuable data out of target websites or
                                systems and put them in the database in a structured format.</p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold">Processing - </span>in relation to personal data, means an operation or set of operations
                                performed on personal data, and may include operations such as collection, recording,
                                organization, structuring, storage, adaptation, alteration, retrieval, use, alignment or
                                combination, indexing, disclosure by transmission, dissemination or otherwise
                                making available, restriction, erasure or destruction.</p>
                        </li>
                        <li>
                            <p><span class="font-weight-bold">Obligations - </span>each party must, at its own expense, take all reasonable steps and
                                actions in order to do give full effect to this agreement and the events contemplated
                                by it.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <!-- GENERAL PRINCIPLES -->
                    <h3 class="font-weight-bold"><u>GENERAL PRINCIPLES - </u></h3>
                    <ul>
                        <li>
                           <p>The Platform is an integrated software solution for the management of Companies,
                            corporations, organization, sales and is aimed for use by persons operating in
                            professional activity with an intention to increase the efficiency.</p>
                        </li>
                        <li><p>In order to utilize the full functionality of the platform, the User/ Client need to create
                            an account that will pass on the related corporate information, and/ in certain cases,
                            the user may be asked to install additional application onto its server or systems.</p>
                        </li>
                        <li>
                            <p>The Platform may only be used to the extent of and for the purposes and aims for
                            which the Platform functionality has been created and made available to Clients and
                            Users, or for which the same type of technological solutions is usually used.
                            The use shall be in accordance with the Terms of Use, the policies, and instructions in
                            accordance to the applicable laws.</p>
                        </li>
                        <li><p>The User & Client are expected to not use the Platform to commit or incite an
                            offence;<br>
                            use it in a way that is contrary to the laws, use the Platform to send advertising
                            materials, spam mail and other Contents to other Users that is in contradiction with
                            the requirements set out in the Terms of Use; use the Platform in any other illegal
                            way;</p>
                        </li>
                        <li>
                            <p>Kindly, take this into consideration that Worktez has sole authority and right to
                            impose any kind of restrictions on the use of some parts or functionalities of the
                            platform or suspend / terminate certain services if required and a due notice shall be
                            given to the clients/user for the same.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <!-- CONTRACT SECTION -->
                    <h3 class="font-weight-bold"><u>CONTRACT - </u></h3>
                    <p>The Contract shall be deemed to be concluded when the Client confirms agreeing to the
                        Terms of Use and confirming that it has familiarized itself with the Privacy Policy; or the
                        Client and Worktez have signed the Contract document that contains a reference to the Terms
                        of Use and the Privacy Policy.</p>
                    <p>The Client shall thoroughly familiarize itself with the Terms of Use and the Privacy Policy
                        before entering into the Contract. The Corporation/ institution shall ensure that its Users have
                        also read through the Terms of Use and the Privacy Policy thoroughly.</p>
                    <p>Upon concluding the Contract, the organization or its representative shall verify that:</p>
                    <ul>
                        <li>
                            <p>all the data and confirmations that he/she/it has submitted or given are accurate,
                                correct, complete and relevant;</p>
                        </li>
                        <li>
                            <p>he/she/it is a person with full active legal capacity (at least 18 years old);</p>
                        </li>
                        <li>
                            <p>he/she/it has all the rights and authorizations to enter into the Contract in the name of
                                the User, and use the Platform and Services.</p>
                        </li>
                        <li>
                            <p>The correctness of the above-mentioned information shall be assumed by us to be true
                                and correct, but may, but Worktez has the sole authority and right to verify them</p>
                        </li>
                        <li>
                            <p>Worktez as an operator has the right to refuse to enter into the Contract with any
                                person, even when the person has agreed to the Terms of Use.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <!-- MODIFICATIONS AND AMENDMENTS SECTION -->
                    <h3 class="font-weight-bold"><u>MODIFICATIONS AND AMENDMENTS - </u></h3>
                    <p>We reserve the right and authority to modify our sites, services, tools at any time, with or
                        without notice. For example, we may add or remove functionality or features and suspend
                        particular features.</p>
                    <p>We have the sole authority and right to amend these terms and conditions and policies at any
                        time with a prior notice of 30 days, in case it affects you.</p>
                </li>
                <li>
                    <h3 class="font-weight-bold"><u>CONTENT - </u></h3>
                    <p>By using our tool, software and other services you give us access to information attached to
                        your corporation/ institution (for example-staff details, number of staffs etc.) and also at
                        individual levels data that are collected through the procedure may include but not limited to
                        name, contact number, address, age.</p>
                    <p>You do not transfer ownership of your Content/information by simply sharing it or using our
                        services. However, by posting information, you grant us, our agents, licensees an irrevocable,
                        perpetual (non-exclusive) right and permission to reproduce, encode, store, copy, transmit,
                        publish, post, broadcast, display, publicly perform, adapt, modify, create derivative works of,
                        exhibit, and otherwise use your Content. Without those rights, we couldn't offer our Services.</p>
                    <p>And hereby, you agree to not hold us liable for any of your liabilities, claims, actions, loss,
                        damage etc. attached to your content.</p>

                </li>
                <li>
                    <!-- LIABILITY SECTION -->
                    <h3 class="font-weight-bold"><u>LIABILITY - </u></h3>
                    <ul>
                        <li>
                            <p>We do provide storage services for which you are free to accept to store your
                                information in our system or not. If you do give us consent to store the information
                                provided by you in our system, we shall in no way be liable for any kind of fraud,
                                misrepresentation, breach attached to such information</p>
                        </li>
                        <li>
                            <p>We are in no way responsible or liable for the content posted and operated by any
                                third party. Accordingly, we may not be held liable, directly or indirectly, for any loss
                                or damage caused to you in connection with any content of yours.</p>
                        </li>
                        <li>
                            <p>Neither Worktez, its team, nor its agents or service providers shall be held liable for
                                any indirect, special, incidental, consequential, or exemplary damages arising from
                                your use of the services &amp;/sites or any third-party usage.</p>
                            <p>These exclusions include, without limitation, damages for lost profits, lost data,
                                computer failure, low efficiency, violation of your right by any third party.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <!-- INTELLECTUAL PROPERTY SECTION -->
                    <h3 class="font-weight-bold"><u>INTELLECTUAL PROPERTY -</u></h3>
                    <ul>
                        <li>
                            <p>The Platform, website and service along with original content, functionality, features
                                are and will remain the exclusive property of Worktez and thus we shall acquire all
                                the rights including but not limited to Software, databases, content, pictures, logo,
                                graphics, sound, videos, product, tool, trademarks, service marks, primarily owned by
                                the Wortez.</p>
                        </li>
                        <li>
                            <p>Contents that are provided to the Users/Clients are provided for personal usage only
                                and whatsoever should not be in any case copied, distributed, reproduced, displayed,
                                sold, licensed, sub-licensed without prior permission of the owners.</p>
                        </li>
                        <li>
                            <p>If you believe any content through our services infringes your Intellectual property
                                rights, you may request us to remove the same.</p>
                        </li>
                        <li>
                            <p>In case any third-party involvement infringes your rights, Wortez will in not be
                                responsible or liable in any manner.</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <!-- LEGAL REMEDIES -->
                    <h3 class="font-weight-bold"><u> LEGAL REMEDIES -</u></h3>
                    <ul>
                        <li>
                            <p>Worktez is not obligated to check the Contents uploaded by Users onto the Platform
                                or during the time of our other services, nor User activities on the Platform. We are
                                also not obligated to monitor User activity, information or the Contents they add to or
                                transfer via the Platform, store in cache memory, or save.</p>
                        </li>
                        <li>
                            <p>If a User/ Client breaches these terms, or violates, or acts in such a manner that it will
                                violate the concerned laws, we shall have the right to:
                            </p>
                            <ul>
                                <li>eliminate the violation or unlawful Contents;</li>
                                <li>request the elimination of the violation and require that the conduct or the
                                    Contents be brought into conformity with the Contract, good practice or legal
                                    acts;</li>
                                <li>temporarily restrict the Client's or User's access to the Platform or any of its
                                    parts, including close the User Account temporarily;</li>
                                <li>restrict the rights of use of the Client or User.</li>
                                <li>In case required we may produce the illegal data to the concerned authority.</li>
                                <li>If the violation by the Client or User is repeated or material in some other way,
                                    we reserve the sole right and authority to permanently forbid the Client or
                                    User from using the respective part of the Platform or the Services, delete the
                                    User Account, or terminate the Contract without notice.</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <!-- SETTLESMENT OF DISPUTES SECTION -->
                    <h3 class="font-weight-bold"><u>APPLICABLE LAW AND SETTLEMENT OF DISPUTES - </u></h3>
                    <ul>
                        <li><p>This Contract is governed by the Indian laws.</p></li>
                        <li><p>In case there is any dispute between Worktez & 'You', You shall make an effort to
                            settle the disputes by means of negotiations.</p></li>
                        <li><p>In case the settlement of a complaint or other related disputes cannot be sorted
                            through settlement/ negotiation, it shall be resolved in "Bangalore, Urban Court, India"</p></li>
                    </ul>
                </li>
                <li>
                    <!-- WARRANTIES AND DISCLAIMER SECTION -->
                    <h3 class="font-weight-bold"><u>WARRANTIES AND DISCLAIMERS -</u></h3>
                    <p>We provide our Services using a commercially reasonable level of care and promise to do our
                        best to make sure you enjoy the Services. But there are certain things that we don't promise
                        about our Services.</p>
                    <p>Other than as expressly set out in these terms of service, neither Worktez, nor its agents or
                        service providers&amp;/ service entities make any specific promises about the sites. For example,
                        we don't make any commitments about the content within the sites, any specific functions of
                        the sites, or availability, reliability or ability to meet Your needs. We provide our platform/
                        services as it is.</p>
                    <p>Your use of the service through this website is solely at your own risk.</p>
                    <p>We do not hold any other third-party organizers or websites that do not belong to our service
                        providers, licensors, or sponsors. Any tricks or activities applied onto our users by such
                        parties are not concerned with us and we do not hold any liability.</p>
                </li>
            </ol>
        </div>
    </div>
</div>