<ng-container>
    <form (ngSubmit)="submitLogWorkPage()" #form="ngForm">
        <div class="container mt-4 px-0 py-5" id="logWorkPage">
            <div class="py-2 px-5">
                <h3 class="pt-5 fontHeading text-white">Log Work</h3>
                <!-- <div class="row pt-5 pb-2 ml-1">
                    <div class="alert alert-info form-inline col-md-5" role="alert">
                        <div style="font-weight: bold;" class="pr-3">Id:</div>
                        <div id="logTaskId">{{Id}}</div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="alert alert-info form-inline col-md-5" role="alert">
                        <div style="font-weight: bold;" class="pr-3">Sprint Number:</div>
                        <div id="logSprintNumber">{{SprintName}}</div>
                    </div>
                </div>
                <div class="alert alert-info form-inline col-md-12" role="alert">
                    <div style="font-weight: bold;" class="pr-3">Title: </div>
                    <div>{{task.Title}}</div>
                </div> -->
                <div class="alert form-inline w-50 logDetail pt-3" role="alert">
                    <div style="font-weight: bold;" class="pr-3">Estimated Time:</div>
                    <div id="logWorkET">{{task.EstimatedTime}}</div>
                </div>

                <div class="alert form-inline w-50 logDetail" role="alert">
                    <div style="font-weight: bold;" class="pr-3">Total Logged Time:</div>
                    <div id="logWorkTotalTime">{{task.LogWorkTotalTime}}</div>
                </div>
                <div class="alert form-inline w-50 logDetail" role="alert">
                    <div style="font-weight: bold;" class="pr-3">Remaining Time:</div>
                    <div>{{task.EstimatedTime - task.LogWorkTotalTime}}</div>
                </div>
                <div class="row pt-3 text-white">
                    <label for="inputState" class="col-sm-2 col-form-label">Status</label>
                    <select class="custom-select col-sm-3 mx-sm-3" [(ngModel)]="logWorkStatus" [ngModelOptions]="{standalone: true}">
                        <option selected disabled value="">choose...</option>
                        <option>Ice Box</option>
                        <option>Ready to start</option>
                        <option>Under Progress</option>
                        <option>Blocked</option>
                        <option>Completed</option>
                    </select>
                </div>
                <div class="row pt-3 text-white">
                    <label for="inputHours" class="col-sm-2 col-form-label">Log Hours</label>
                    <input type="number" min="1" class="col-sm-3 form-control mx-sm-3" [(ngModel)]="logHours" [ngModelOptions]="{standalone: true}">
                    <small id="LogWorkHour" class="col">
                        hours
                    </small>
                </div>
                <div class="row py-2 text-white">
                    <label for="inputHours" class="col-sm-2 col-form-label">Work Completed</label>
                    <input type="number" min="1" max="100" class="col-sm-3 form-control mx-sm-3" [(ngModel)]="logWorkDone" [ngModelOptions]="{standalone: true}">
                    <small id="LogWorkHour" class="col">
                        in percentage(%)
                    </small>
                </div>
                <div class="form-group row text-white">
                    <label for="comment" class="col-md-2 col-form-label">Comment</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" [(ngModel)]="logWorkComment" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="pt-3 pb-5">
                    <button class="btn btn-primary" type="submit" id="logWorkSubmit">Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
</ng-container>
