#logWorkPage{
    border: 1px solid #8120f0;
}

.logDetail{
    background-color: #10be65;
    border-radius: 20px;
    color: black;
}

#logWorkSubmit{
    border-radius: 20px;
    background-color: #10be65;
    color: black;
}

#navbarMenu {
    background-color: #8120f0;
}