<div class="card" style="width: 25rem;" >
    <div class="card-header">
        <div class="row">
            <div class="col 10">
                <!-- <input type="text" class="form-control form-control-sm" [(ngModel)]="content" [ngModelOptions]="{standalone: true}" placeholder="Enter Comment"> -->
            </div>
            <div class="col">
                <!-- <mat-icon fontSet="material-icons" id="icon" class="float-right" (click)="addComment()"> -->
                    <!-- send -->
                <!-- </mat-icon> -->
                <!-- <button class="btn btn-success float-right" (click)="addComment()">save</button> -->
            </div>
        </div>
    </div>
<app-loader *ngIf="enableLoader"></app-loader>
</div>
