<li class="nav-item py-1 pr-2">
    <div class="theme-switch">
        <button id="theme-button" *ngIf="(themeService.presentTheme$ | async) == 'theme-light'; else moonTemplate" (click)="themeService.changeTheme('theme-dark')">
      <span class="material-icons">light_mode</span>
    </button>
        <ng-template #moonTemplate>
            <button id="theme-button" (click)="themeService.changeTheme('theme-light')">
        <span class="material-icons">dark_mode</span>
      </button>
        </ng-template>
    </div>
</li>
