<div class="custom-control custom-switch custom-switch-md" *ngIf="(themeService.presentTheme$ | async)">
  <div class="row">
    <div class="col-3 pl-5">
      <span class="material-icons">dark_mode</span>
    </div>
    <div class="col">
      <h4>Dark Mode</h4>
    </div>
    <div class="col-2">
      <input type="checkbox" [disabled]="showloader" class="custom-control-input" id="customSwitches" [(ngModel)]="enableDarkTheme" (click)="changeThemeSwitch()">
  <label class="custom-control-label" for="customSwitches" style="font-weight: bold;">
  </label>
    </div>
  </div>
</div>
<ng-container *ngIf="showloader">
  <app-loader></app-loader>
</ng-container>