<div class="container-fluid">
    <div class="row">
        <div class="col-9 py-1">
            <a class="taskID" (click)="openTaskDetails(task.Id)">{{task.Id}}</a>
            <br>
            <span class="value">{{task.Title}}</span>
        </div>
        <div class="col-3 text-end">    
            <app-suggestion-bucket [email]="task.Assignee" [showEmail]="false"  [showOnlyProfilePic]="true"></app-suggestion-bucket>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col label">
            Difficulty
        </div>
        <div class="col-4" (click)="showEditTask(task.Id, 'Difficulty')" style="cursor: pointer;">
            <ng-container *ngIf="taskIdToEdit == task.Id && fieldToEdit == 'Difficulty'; else showDifficultyIcon">
                <select class="form-control form-control-sm" [(ngModel)]="task.Difficulty" size="4" style="position: relative;min-width: 150px; top: 20%;" [ngModelOptions]="{standalone: true}" (change)="editTask(task, null)" (mouseleave)="clickOut()">
                    <option [ngValue]="null" [disabled]="true">Select Difficulty</option>
                    <ng-container *ngFor='let label of difficultyLabels'>
                        <option>{{ label }}</option>
                    </ng-container>
                </select>
            </ng-container>
            <ng-template #showDifficultyIcon>
                <app-get-icon [DisplayName]="task.Difficulty" [Border]="false"></app-get-icon>
            </ng-template>
        </div>
        <div class="col"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col label">
            Priority 
        </div>
        <div class="col-4" (click)="showEditTask(task.Id, 'Priority')" style="cursor: pointer;">
            <ng-container *ngIf="taskIdToEdit == task.Id && fieldToEdit == 'Priority';else showPriorityIcon">
                <select class="form-control form-control-sm" [(ngModel)]="task.Priority" size="4" style="position: relative;min-width: 150px; top: 20%;" [ngModelOptions]="{standalone: true}" (change)="editTask(task, null)" (mouseleave)="clickOut()">
                    <option [ngValue]="null" [disabled]="true">Select Priority</option>
                    <ng-container *ngFor='let label of priorityLabels'>
                        <option>{{ label }}</option>
                    </ng-container>
                </select>
            </ng-container>
            <ng-template #showPriorityIcon>
                <app-get-icon [DisplayName]="task.Priority" [Border]="false"></app-get-icon>
            </ng-template>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col">
            <span id="headerLabel">Progress</span>
            <app-progress-graph [workdone]="task.WorkDone" class="col-8"></app-progress-graph>
        </div>
    </div>
</div>
