.label {
    color: var(--primary-color);
    cursor: pointer;
}
.label:hover {
    text-decoration: underline;
}
.value {
    color: var(--text);
    cursor: pointer;
}
.taskID{
    color: var(--primary-color);
    cursor: pointer;
}

.taskID:hover{
   text-decoration: underline;
   cursor: pointer;
}

.containerBox {
    background-color: var(--primary-bg);
    border-radius: 5px;
}