<div class="card p-4 mb-4">
    <div class="row pb-2">
        <div class="col-10">
            <span>Work Experience</span>
        </div>
        <div class="col-2">
            <span *ngIf="sameUser" type="button" class="btn float-right" data-toggle="modal" data-target="#workModal" data-whatever="@mdo" (click)="editWork('add', '')">
                <mat-icon fontSet="material-icons-outlined" class="align-middle">
                    add
                </mat-icon> 
            </span>
        </div>
    </div>
    <ng-container *ngIf="experiences?.length == 0">
        <div class="row">
            <div class="col-12 mt-3" *ngIf="sameUser">
                <span>Add your work experience</span>
            </div>
            <div class="col-12 mt-3" *ngIf="!sameUser">
                <span>No Experience to Show</span>
            </div>
        </div>
    </ng-container>
    <ng-container *ngFor="let experience of experiences; let i = index">
        <div class="row">
            <div class="col-10">
                <span>{{ experience.Position }}</span>
            </div>
            <div class="col-2">
                <span *ngIf="sameUser" type="button" class="btn float-right" data-toggle="modal" data-target="#workModal" data-whatever="@mdo" (click)="editWork('edit', i)" style="font-size: 16px;">
                    <mat-icon fontSet="material-icons-outlined" class="align-middle icon">
                        edit
                    </mat-icon> 
                </span>
            </div>
        </div>
        <div class="row text-muted">
            <div class="col-7">
                <span>{{ experience.OrganizationName }}</span>
            </div>
            <div class="col-5">
                <ul>
                    <li>{{ experience.Start }} - {{ experience.End }}</li>
                </ul>
            </div>
        </div>
    </ng-container>
</div>