<ng-container *ngIf="tasks | async; else loader">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <ng-container *ngFor="let header of tableHeaders">
                        <th [colSpan]="getColSpan(header)" (click)="toggleSortBy(header)" style="cursor: pointer;">
                            {{header}}
                            <ng-container *ngIf="sortByFields[header] == 'asc'">
                                <span class="material-icons" style="position: relative;top: 5px;font-size: medium;">arrow_upward</span>
                            </ng-container>
                            <ng-container *ngIf="sortByFields[header] == 'desc'">
                                <span class="material-icons" style="position: relative;top: 5px;font-size: medium;">arrow_downward</span>
                            </ng-container>
                        </th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="(tasks|async).length==0">
                    <tr>
                        <td colspan="9" class="text-center">No tasks available</td>
                    </tr>
                </ng-container>
                <ng-container *ngFor="let item of tasks|async">
                    <tr (click)="openTaskDetails(item.Id)">
                        <td colspan="1">
                            <app-status-icons [Status]="item.Status.split('@@')[1]"></app-status-icons>
                        </td>
                        <td colspan="1">
                            <app-priority-icons [Priority]="item.Priority.split('@@')[1]"></app-priority-icons>
                        </td>
                        <td colspan="1">
                            <app-difficulty-icons [Difficulty]="item.Difficulty.split('@@')[1]"></app-difficulty-icons>
                        </td>
                        <td colspan="1"><span style="font-weight:bold;" data-toggle="tooltip" data-placement="top" title="task.id">{{item.Id}}</span></td>
                        <td colspan="3">{{item.Title}}</td>
                        <td colspan="2"><span class="material-icons" data-toggle="tooltip" style="vertical-align: middle;" data-placement="top" title="Assignee">perm_identity</span> {{item.Assignee}}</td>
                        <td colspan="3">

                            <app-progress-graph [workdone]="item.WorkDone"></app-progress-graph>

                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-container>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>