<ng-container *ngIf="tasks | async; else loader">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th colspan="1">Status</th>
                    <th colspan="1">Priority</th>
                    <th colspan="1">Task Id</th>
                    <th colspan="3">Title</th>
                    <th colspan="2">Assignee</th>
                    <th colspan="1">Progress</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="(tasks|async).length==0">
                    <tr>
                        <td colspan="9" class="text-center">No tasks available</td>
                    </tr>
                </ng-container>
                <ng-container *ngFor="let item of tasks|async">
                    <tr (click)="openTaskDetails(item.id)">
                        <td colspan="1">
                            <app-status-icons [Status]="item.Status"></app-status-icons>
                        </td>
                        <td colspan="1">
                            <app-priority-icons [Priority]="item.Priority"></app-priority-icons>
                        </td>
                        <td colspan="1"><span style="font-weight:bold;" data-toggle="tooltip" data-placement="top" title="task.id">{{item.id}}</span></td>
                        <td colspan="3">{{item.Title}}</td>
                        <td colspan="2"><span class="material-icons" data-toggle="tooltip" style="vertical-align: middle;" data-placement="top" title="Assignee">perm_identity</span> {{item.Assignee}}</td>
                        <td colspan="1">
                            <app-work-completion [workDone]="item.WorkDone"></app-work-completion>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</ng-container>
<ng-template #loader>
    <app-loader></app-loader>
</ng-template>