.card-header {
  background-color: var(--secondary-bg);
  color: var(--text);
  border: none;
  height: 30px;
}

.card {
  background-color: var(--secondary-bg);
  color: var(--text);
  border: none;
}

hr {
  margin: 0;
  border: none;
  border-bottom: 2px solid var(--scrollbar-color);
}

h3 {
  color: var(--primary-color);
}

.commentbox {
  width: 14rem;
}

.btn {
  color: var(--text);
  width: 10rem;
}

.btn:hover {
  background-color: var(--dropdown-hover);
  color: var(--button-text-hover);
}

.reacted {
  color: var(--primary-color);
}

.btnSend {
  width: 100%;
  background-color: var(--primary-color);
  color: #ffffff;
}

@media only screen and (max-width: 400px) {
  .btn {
    width: 7rem;
    font-size: 12px;
  }
}