.post {
  font-family: var(--font);
}

.card-header {
  background-color: var(--secondary-bg);
  color: var(--text);
  border: none;
  height: 30px;
}

.dropdown{
  color: var(--text);
}

.card {
  background-color: var(--secondary-bg);
  color: var(--text);
  border: none;
}

hr {
  margin: 0;
  border: none;
  border-bottom: 2px solid var(--scrollbar-color);
}

h3 {
  color: var(--primary-color);
}

.image{
  max-width: 90%;
  max-height: 90%;
}

.comment-box {
  color: var(--text);
  border: none;
  outline: none;
}
.comment-box:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.btn-star, .btn-comment {
  color: var(--text);
  width: 10rem;
}

.btn-send {
  color: var(--text);
}

.counters{
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.btn:hover {
  background-color: var(--dropdown-hover);
  color: var(--button-text-hover);
  border: 1px solid var(--primary-color);
}

.reacted {
  color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
  .btn {
    width: 7rem;
    font-size: 12px;
  }
}

.dropdown-item {
  color: var(--text);
  font-size: 12px;
}
.dropdown-item:hover {
  background-color: var(--secondary-bg);
  color: var(--button-text-hover); 
}

.dropdown-menu {
  color: var(--text);
  background-color: var(--secondary-bg);
}

.form-control{
  background-color: var(--input-field);
}