.low {
    color: #42a5f5; 
    padding: right 16px;
    
}
.lowBorder {
    color: #42a5f5; 
    text-align: center;
    border-style: dashed;
    border-color:#42a5f5; 
    border-width: 1px;  
    padding-top: 4px;    
}
.medium {
    color: #EF6C00; 
    padding: right 16px;
}
.mediumBorder {
    color: #EF6C00; 
    text-align: center;
    border-style: dashed;
    border-color:#EF6C00;  
    border-width: 1px; 
    padding-top: 4px;    
}
.high {
    color: #ff0000;
    padding: right 16px;
}
.highBorder {
    color: #ff0000;
    text-align: center;
    border-style: dashed;
    border-color:#ff0000; 
    border-width: 1px;    
    padding-top: 4px;  
}