<ng-container *ngIf="Difficulty == 'Low' ">
    <span class="material-icons low" data-toggle="tooltip" data-placement="top" title="Low">
        keyboard_arrow_down
    </span>
</ng-container>

<ng-container *ngIf="Difficulty == 'Medium' ">
    <span class="material-icons medium" data-toggle="tooltip" data-placement="top" title="Medium">
        sync_alt
    </span>
</ng-container>

<ng-container *ngIf="Difficulty == 'High' ">
    <span class="material-icons high" data-toggle="tooltip" data-placement="top" title="High">
        keyboard_arrow_up
    </span>
</ng-container>