#editPageTask{
    background-color: #8120f0;
    color:white;
}

#editTaskSubmitButton{
    color:black;
    background-color: #10be65;
    border-radius:20px;
}

.non-Editable{
    background-color: #10be65;
    /* border-radius:20px; */
}