#editPageTaskContainer,
.modal-content {
    border: 1px solid #5A20F0;
    background-color: #20282E;
}

#button {
    background-color: #16C85A;
    border: 2px solid #5A20F0;
    color: white;
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}

#non-editable {
    color: #16C85A;
}

#navbarMenu,
.modal-header {
    background-color: #5A20F0;
    border: #20282E;
}

.clr {
    background-color: white;
}

.header {
    font-weight: bold;
}

.head {
    font-weight: bolder;
}

#font {
    font-size: 20px;
}

select:focus,
input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: #5A20F0;
}