#editPageTaskContainer {
    border: 1px solid #5A20F0;
    position: absolute;
    top: 60%;
    left: 50%;
    right: 0%;
    bottom: 0%;
    width: 70%;
    height: 90%;
    z-index: 1;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#button {
    background-color: #16C85A;
    border: 2px solid #5A20F0;
    color: white;
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}

#non-editable {
    color: #16C85A;
}

#navbarMenu {
    background-color: #5A20F0;
}

select:focus,
input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: #5A20F0;
}

.header {
    font-weight: bold;
}