<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href ng-click="dashboard">Dashboard</a></li>
      <li class="breadcrumb-item"><a href ng-click="Business">Business</a></li>
      <li class="breadcrumb-item"><a href ng-click="Development">Development</a></li>
      <li class="breadcrumb-item"><a href ng-click="Marketing">Marketing</a></li>
      <li class="breadcrumb-item"><a href ng-click="#">Others</a></li>
      <li class="breadcrumb-item"><a href ng-click="cardDescription">Task Details</a></li>
      <li class="breadcrumb-item"><a href ng-click="logWorkPage">Log Work</a></li>
      <li class="breadcrumb-item"></li><a href ng-click="editPageTask">Edit Page</a></li>
      <li class="breadcrumb-item active" aria-current="page">Task Cards</li>
    </ol>
  </nav> -->

<div id="taskPage">
    <div class="container pt-2 pb-5 pl-2">
        <div class="row pt-5">
            <h3 class="col-md-8 col-8 fontHeading">Tasks</h3>
            <span type="button" class="col-md-4 col-1  material-icons" id="backToDashboard">
          close
      </span>
        </div>
        <hr class="w-75 ml-0">
        <div id="cardsList">
            <ng-container *ngFor="let item of tasksData | async">
                <app-task-cards [task]="item"></app-task-cards>
            </ng-container>
        </div>
    </div>
</div>
