<app-breadcrumb></app-breadcrumb>

<div id="taskPage">
    <div class="container pt-2 pb-5 pl-2">
        <div class="row pt-5">
            <h3 class="col-md-8 col-8 fontHeading">Tasks</h3>
            <span type="button" class="col-md-4 col-1  material-icons" id="backToDashboard">
          close
      </span>
        </div>
        <hr class="w-75 ml-0">
        <div id="cardsList">
            <ng-container *ngFor="let item of tasksData | async">
                <app-task-cards [task]="item"></app-task-cards>
            </ng-container>
        </div>
    </div>
</div>
