#navbarMenu {
    background-color: #5A20F0;
    color: white;
}

.container {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid #5A20F0;
}

select:focus,
input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: #5A20F0;
}

.toggleFilter {
    color: #16C85A;
}