#logHead,
#logWorkHour {
    font-weight: bold;
}

.head {
    font-weight: bolder;
}

#logWorkPage,
.modal-content {
    background-color: var(--secondary-bg);
    border: var(--primary-border);
    color: var(--text);
}

#logDetail {
    background-color: var(--secondary-color);
    color: var(--button-text);
}

#logWorkSubmit {
    background-color: var(--secondary-color);
    border: var(--primary-border);
    color: var(--button-text);
}

#logWorkSubmit:hover {
    background-color: var(--primary-color);
}

.clr {
    background-color: white;
}

#navbarMenu,
.modal-header {
    background-color: var(--primary-color);
}

select:focus,
input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
    #logWorkPage {
        width: 70%;
        height: 100%;
        border-color: var(--primary-color);
    }
}

.btn-secondary {
    background-color: var(--button-bg);
}

.btn-secondary:hover {
    background-color: var(--button-hover-bg);
}