#logHead {
    color: var(--button-text);
    font-size: 14px;
} 

#logWorkPage,
.modal-content {
    background-color: var(--secondary-bg);
    color: var(--button-text);
}

#logWorkSubmit {
    background-color: var(--secondary-color);
    color:white; 
}

#logWorkSubmit:hover {
    background-color: var(--primary-color);
}

.clr {
    background-color: white;
}
 
select,
input {
    border: none;
    color: var(--text);
    font-size: 15px;
}

select:focus,
input:focus,
textarea:focus {
    box-shadow: none;
    outline: 0 none; 
    border-color: var(--primary-color);
    color: var(--text);
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.btn-secondary:hover {
    background-color: var(--primary-color);
}

.form-control {
    background-color: var(--primary-bg);
}

#ModalLabel {
    color: var(--text);
    font-weight: bold;
}

.close {
    color: var(--text);
}

.close:hover {
    transform: scale(1.3);
} 

textarea {
    border: none;
    color: var(--text);
}