<ng-container *ngIf="!enableLoader">
    <form (ngSubmit)="submit()" #form="ngForm">
        <div class="container p-3 align-items-center ml-5">
            <div class="card text-light mb-3" class="logWorkPage" style="background-color:#202124;">
                <nav class="navbar navbar-expand-lg navbar-dark" id="navbarMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <h5 class="active nav-link" style="font-weight:bolder">Log Work</h5>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <span type="button" class="material-icons text-light" (click)="workDone()">close</span>
                        </li>
                    </ul>
                </nav>
                <div class="content text-light">
                    <div class="form-row pt-3 px-4 py-4">
                        <div class="col-sm-4 pt-2">
                            <label for="inputState" class="form-label">Status</label>
                            <select class="custom-select" [(ngModel)]="logWorkStatus" [ngModelOptions]="{standalone: true}">
                            <option selected disabled value="">choose...</option>
                            <option>Ice Box</option>
                            <option>Ready to start</option>
                            <option>Under Progress</option>
                            <option>Blocked</option>
                            <option>Completed</option>
                        </select>
                        </div>
                        <div class="col-sm-4 pt-2">
                            <label for="inputHours" class="form-label">Log Hours</label>
                            <input type="number" min="1" class="form-control" [(ngModel)]="logHours" [ngModelOptions]="{standalone: true}">
                            <small id="LogWorkHour" class="col">
                            hours
                        </small>
                        </div>
                        <div class="col-sm-4 pt-2">
                            <label for="inputHours" class="form-label">Work Completed</label>
                            <input type="number" min="1" max="100" class="form-control" [(ngModel)]="logWorkDone" [ngModelOptions]="{standalone: true}">
                            <small id="LogWorkHour" class="col">
                            in percentage(%)
                        </small>
                        </div>
                    </div>
                    <div class="form-group row-md-5 pt-3 px-4 py-4">
                        <label for="comment" class="form-label">Comment</label>
                        <input type="text" class="form-control" [(ngModel)]="logWorkComment" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="row pb-4">
                        <div class="col-md-10"></div>
                        <div class="col-md-2"><button class="btn" type="submit" id="logWorkSubmit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ng-container>
<app-loader *ngIf="enableLoader"></app-loader>