#logWorkPage {
    border: 1px solid #5A20F0;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#logHead {
    font-weight: bold;
}

#logWorkHour {
    font-weight: bold;
}

#logDetail {
    background-color: #16C85A;
    color: white;
}

#logWorkSubmit {
    background-color: #16C85A;
    border: 2px solid #5A20F0;
    color: white;
}

#navbarMenu {
    background-color: #5A20F0;
}

select:focus,
input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: #5A20F0;
}

@media only screen and (max-width: 600px) {
    #logWorkPage {
        width: 70%;
        height: 100%;
    }
}