<div *ngIf="!enableLoader" class="container">
    <div class="mt-5" id="startNewSprint">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-dark" id="navbarMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link active" style="font-weight:bolder; font-size: larger;" href="#">Create New Sprint</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">                
                            <span type="button" class="material-icons text-light" (click)="backToDashboard()">close</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="px-5">
            <form (ngSubmit)="createNewSprint()" #form="ngForm">
                <div class="form-group row pt-2">
                    <div class="alert alert-info form-inline col-sm-4" role="alert">
                        <div style="font-weight: bold;" class="pr-3">Sprint:</div>
                        <div> {{ newSprintId }} </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="input">Development</label>
                        <div class="alert text-white form-inline detail" role="alert">
                            <div style="font-weight: bold;" class="pr-3"> No. of Task:</div>
                            <div class="ml-auto"> {{ totalDevelopment }} </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="text">Business</label>
                        <div class="alert text-white form-inline detail" role="alert">
                            <div style="font-weight: bold;" class="pr-3"> No. of Task:</div>
                            <div class="ml-auto"> {{ totalBusiness }} </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="text">Marketing</label>
                        <div class="alert text-white form-inline detail" role="alert">
                            <div style="font-weight: bold;" class="pr-3"> No. of Task:</div>
                            <div class="ml-auto"> {{ totalMarketing }} </div>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="text">Other</label>
                        <div class="alert bg-dark text-white form-inline" role="alert">
                            <div style="font-weight: bold;" class="pr-3"> No. of Task:</div>
                            <div class="ml-auto"> {{ totalOther }} </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="input">Start Date</label>
                        <input class="form-control" type="date" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="input">End Date</label>
                        <input class="form-control" type="date" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">Status</label>
                        <select class="form-control" [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
                                <option selected>choose...</option>
                                <option>Ready to Start</option>
                                <option>Under Progress</option>
                                <option>Completed</option>
                            </select>
                    </div>
                    <div class="pt-2 pb-5">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<app-loader *ngIf="enableLoader"></app-loader>