<div class="container">
    <div class="mt-5 px-5 py-5" id="startNewSprint">
        <div class="row pt-2">
            <div class="col-md-11 col-10"></div>
            <span type="button" class="col-md-1 col-2 pt-5 material-icons" id="backToMainFromNewSprint">
                close
            </span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="pl-1 fontHeading">Create New Sprint</h3>
                <hr class="w-75 ml-0">
            </div>
        </div>
        <form (ngSubmit)="createNewSprint()" #form="ngForm">
            <div class="form-group row pt-2">
                <div class="alert alert-info form-inline col-sm-4" role="alert">
                    <div style="font-weight: bold;" class="pr-3">Sprint:</div>
                    <div> {{ newSprintId }} </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="input">Development</label>
                    <div class="alert text-white form-inline detail" role="alert">
                        <div style="font-weight: bold;" class="pr-3"> No. of Task:</div>
                        <div class="ml-auto"> {{ totalDevelopment }} </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="text">Business</label>
                    <div class="alert text-white form-inline detail" role="alert">
                        <div style="font-weight: bold;" class="pr-3"> No. of Task:</div>
                        <div class="ml-auto"> {{ totalBusiness }} </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="text">Marketing</label>
                    <div class="alert text-white form-inline detail" role="alert">
                        <div style="font-weight: bold;" class="pr-3"> No. of Task:</div>
                        <div class="ml-auto"> {{ totalMarketing }} </div>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label for="text">Other</label>
                    <div class="alert bg-dark text-white form-inline" role="alert">
                        <div style="font-weight: bold;" class="pr-3"> No. of Task:</div>
                        <div class="ml-auto"> {{ totalOther }} </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="input">Start Date</label>
                    <input class="form-control" type="date" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-4">
                    <label for="input">End Date</label>
                    <input class="form-control" type="date" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputState">Status</label>
                    <select class="form-control" [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
                        <option selected>choose...</option>
                        <option>Ready to Start</option>
                        <option>Under Progress</option>
                        <option>Completed</option>
                    </select>
                </div>
            </div>
            <div class="pt-2 pb-5">
                <button type="submit" class="btn btn-primary submit">
                    <app-loader *ngIf="createSprintLoader" [showIn]="'button'"></app-loader>Submit
                </button>
            </div>
        </form>
    </div>
</div>