<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="font-weight-bold ">{{versionName}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="font-weight-bold text-muted">&emsp;{{releaseDate}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="font-weight-bold text-muted" >&emsp;{{featuresArray[0]}}</h3>
            <ul><p *ngFor="let arr of featuresArray; let i = index">
                &emsp;{{featuresArray[i+1]}}
            </p></ul>
            
        </div>
    </div>
</div>


