<div class="row mx-3">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter Options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownMenu">
            <div class="dropdown-item form-check">
                <input type="checkbox" class="form-check-input" id="Assignee" [(ngModel)]="isAssigneeChecked" />
                <label class="form-check-label" for="Assignee">Assignee</label>
            </div>
            <div class="dropdown-item form-check">
                <input type="checkbox" class="form-check-input" id="Project" [(ngModel)]="isProjectChecked" />
                <label class="form-check-label" for="Project">Project</label>
            </div>
            <div class="dropdown-item form-check">
                <input type="checkbox" class="form-check-input" id="Priority" [(ngModel)]="isPriorityChecked" />
                <label class="form-check-label" for="Priority">Priority</label>
            </div>
            <div class="dropdown-item form-check">
                <input type="checkbox" class="form-check-input" id="Status" [(ngModel)]="isStatusChecked" />
                <label class="form-check-label" for="Status">Status</label>
            </div>
            <div class="dropdown-item form-check">
                <input type="checkbox" class="form-check-input" id="Difficulty" [(ngModel)]="isDifficultyChecked" />
                <label class="form-check-label" for="Difficulty">Difficulty</label>
            </div>
            <div class="dropdown-item form-check">
                <input type="checkbox" class="form-check-input" id="Sprint" [(ngModel)]="isSprintChecked" />
                <label class="form-check-label" for="Sprint">Sprint</label>
            </div>
        </div>
      </div>
    
    <ng-container *ngIf="isAssigneeChecked">
        <div class="p-2">
            <input type="text" class="form-control" placeholder="Enter Assignee Name" [(ngModel)]="assignee" />
        </div>
    </ng-container>
    <ng-container *ngIf="isProjectChecked">
        <div class="p-2">
            <select data-style="btn-default" class="form-control" [(ngModel)]="project" (change)="onProjectChange()" [ngModelOptions]="{standalone: true}">
                    <ng-container  *ngFor="let item of backendService.organizationDetails.TeamsId">
                        <option>{{item}}</option>
                    </ng-container>
                </select>
        </div>
    </ng-container>
    <ng-container *ngIf="isPriorityChecked">
        <div class="p-2">
            <select data-style="btn-default" class="form-control" [(ngModel)]="priority" [ngModelOptions]="{standalone: true}">
                <option value="" selected disabled>Select Priority</option>
                    <ng-container  *ngFor="let item of appSettings.priority">
                        <option>{{item}}</option>
                    </ng-container>
                </select>
        </div>
    </ng-container>

    <ng-container *ngIf="isStatusChecked">
        <div class="p-2">
            <select data-style="btn-default" class="form-control" [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
                <option value="" selected disabled>Select Status</option>
                    <ng-container  *ngFor="let item of appSettings.status">
                        <option>{{item}}</option>
                    </ng-container>
                </select>
        </div>
    </ng-container>

    <ng-container *ngIf="isDifficultyChecked">
        <div class="p-2">
            <select class="form-control" [(ngModel)]="difficulty" [ngModelOptions]="{standalone: true}">
                <option value="" selected disabled>Select Difficulty</option>
                    <ng-container  *ngFor="let item of appSettings.difficulty">
                        <option>{{item}}</option>
                    </ng-container>
                </select>
        </div>
    </ng-container>

    <ng-container *ngIf="isSprintChecked">
        <div class="p-2">
            <input placeholder="Select Sprint" class="form-control" type="number" id="filterSprintNumberInput" [(ngModel)]="sprint">
        </div>
    </ng-container>
    <div class="col-md-4 mx-4 pb-2">
        <button type="submit" class="btn" id="button" (click)="filterByProperties()">Filter</button>
    </div>
</div>
<ng-container *ngIf="showLoader">
<app-loader></app-loader>
</ng-container>