.row{
    color: var(--text);
}
#button {
    background-color: var(--secondary-color);
    border: var(--primary-border);
    color: var(--button-text);
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}

select,
input {
    background-color: var(--primary-bg);
}

select:focus,
input:focus {
    background-color: var(--primary-bg);
    box-shadow: none;
    outline: 0 none;
    border-color: var(--primary-color);
}

#dropdownMenuButton {
    background-color: var(--primary-bg);
    color: var(--text);
}

.dropdown-item {
    color: var(--button-text);
    cursor: pointer;
}

.dropdown-item:hover {
    color: var(--button-text-hover);
    background-color: var(--secondary-bg);
}

#dropdownMenu {
    background-color: var(--secondary-bg);
}