.row{
    color: var(--text);
}
#button {
    background-color: #16C85A;
    border: 2px solid #5A20F0;
    color: white;
}

#button:focus,
#button:active {
    outline: none;
    box-shadow: none;
}


/* option {
    background-color: #5A20F0;
} */

select:focus,
input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: #5A20F0;
}