<div class="card p-4">
    <div class="row pb-2">
        <div class="col-10">
            <span>Skills</span>
        </div>
        <div class="col-2">
            <span *ngIf="sameUser" type="button" class="btn float-right" data-toggle="modal" data-target="#skillsModal" data-whatever="@mdo" (click)="editSkills()" >
                <mat-icon fontSet="material-icons-outlined" class="align-middle">
                    edit
                </mat-icon> 
            </span>
        </div>
    </div>
    <ng-container *ngIf="skills?.length == 0">
        <div class="row">
            <div class="col-12 mt-3">
                <span>Add your skills</span>
            </div>
        </div>
    </ng-container>
    <ul>
        <ng-container *ngFor="let skill of skills">
            <li>{{ skill }}</li>
        </ng-container>
    </ul>
</div>