<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                <span type="button" class="close" data-dismiss="modal" aria-label="Close" class="material-icons" (click)="editProfileDone()" style="color: var(--secondary-color);">close</span>
            </div>
            <div class="modal-body">
                <form *ngIf="!enableLoader">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Display Name</label>
                        <input type="text" [(ngModel)]="displayName" [ngModelOptions]="{standalone: true}" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Username</label>
                        <input type="text" [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" class="form-control" id="recipient-name">
                        <a *ngIf="!userAvailable" class="btn btn-primary" (click)="checkAvailability()">check availability</a>
                        <a *ngIf="userAvailable" class="btn btn-success">Username available</a>
                    </div>                
                    <div class="form-group">
                        <label for="recipient-phoneNo" class="col-form-label">Phone Number</label>
                        <input type="text" class="form-control" id="recipient-phoneNo" [(ngModel)]="phoneNumber" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="recipient-github" class="col-form-label">Github Profile</label>
                        <input type="text" class="form-control" id="recipient-github" [(ngModel)]="githubProfile" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="recipient-linkedIn" class="col-form-label">LinkedIn Profile</label>
                        <input type="text" class="form-control" id="recipient-linkedIn" [(ngModel)]="linkedInProfile" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">About Me:</label>
                        <textarea class="form-control" [(ngModel)]="aboutMe" [ngModelOptions]="{standalone: true}" id="message-text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-skills" class="col-form-label">Skills</label>
                        <input type="text" class="form-control" id="recipient-skills" [(ngModel)]="skills" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group">
                        <label for="recipient-education" class="col-form-label">Education</label>
                        <input type="text" class="form-control" id="recipient-education" [(ngModel)]="education" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group">
                        <label for="recipient-experience" class="col-form-label">Experience</label>
                        <input type="text" class="form-control" id="recipient-experience" [(ngModel)]="experience" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group">
                        <label for="recipient-projects" class="col-form-label">Projects</label>
                        <input type="text" class="form-control" id="recipient-projects" [(ngModel)]="projects" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="recipient-website" class="col-form-label">Website</label>
                        <input type="text" class="form-control" id="recipient-website" [(ngModel)]="website" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="row px-4 py-4">
                        <button type="button" class="ml-auto col-md-3 btn" (click)="editProfile()">Save</button>
                    </div>
                </form>
                <ng-container *ngIf="showClose">
                    <div class="row">
                        <div class="col">Successfully Updated!</div>
                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 pb-2 px-4">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="editProfileDone()">Close</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<app-loader *ngIf="enableLoader && !showClose"></app-loader> -->