<div class="row p-2 mt-2 integrationBox">
    <div class="col p-0">
        <button class="btn etc mr-2" type="button" data-bs-toggle="tooltip" data-bs-placement="top"
            data-toggle="modal" data-target="#gitlabModel" (click)="enableAddOrganisationLink(team)"
            title="Add Organisation">
            <img src="../../../assets/gitlabIcon.svg" alt="git" height="25" width="25">
            <ng-container *ngIf="repoLink && team.ProjectLocation == 'gitlab'; else integrateGitlab">
              <span>
                {{repoLink}}
              </span>
            </ng-container>
            <ng-template #integrateGitlab>
              <span> Integrate Gitlab </span>
            </ng-template>
        </button>
        <button *ngIf="repoLink && team.ProjectLocation == 'gitlab'" class="btn etc mr-2" data-target="#BearerToken" title="BearerToken" type="button" data-toggle="modal" data-bs-toggle="tooltip" (click)="addTokenEnable()">
            <span>Add Token</span>
        </button>
    </div>
    <div class="col" *ngIf="repoLink && team.ProjectLocation == 'gitlab'">
        <ng-container *ngIf="gitlabTokenExists; else noToken">
            Bearer token
            <mat-icon fontSet="material-icons-outlined" class="align-middle">
                password
            </mat-icon>
        </ng-container>
        <ng-template #noToken>
            No token found
        </ng-template>
    </div>
    <button *ngIf="repoLink && team.ProjectLocation == 'gitlab'" class="btn etc float-right" data-target="#BearerToken" title="BearerToken" type="button" data-toggle="modal" data-bs-toggle="tooltip" (click)="unLinkGithub(team)">
        <span>Remove</span>
    </button>
</div>
<ng-container *ngIf="addProjectEnabled" id="projectModalLabel2">
    <app-gitlab-link [teamId]="teamToAddGitlab.TeamId" [teamName]="teamToAddGitlab.TeamName" [typeLink]="typeLink"
        (addedProject)="addedGitlabProject($event)">
    </app-gitlab-link>
</ng-container>
<ng-container *ngIf="enableAddToken">
    <div class="modal fade" id="GitlabBearerToken" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <nav class="modal-header navbar navbar-expand px-4 pt-3 pb-1"  id="navbarMenu">
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                          <h2 class="active mb-0" id="BearerTokenLabel">Add Token</h2>
                      </li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                      <li class="nav-item">
                          <span class="btn">
                              <mat-icon fontSet="material-icons-outlined" class="align-middle" data-dismiss="modal"aria-label="Close"
                                (click)="back()">
                                close
                              </mat-icon>
                          </span>
                      </li>
                  </ul>
              </nav>
              <div class="container modal-body px-4 pt-0" id="addLinkPage">
                    <ng-container *ngIf="!showClose">
                      <div class="row pt-3">
                            <div class="col-md">
                                <label for="Title" class="form-label" id="logHead">Gitlab Token:</label>
                                <input type="text" class="form-control" [(ngModel)]="bearerToken" [ngModelOptions]="{standalone: true}" placeholder="Enter Gitlab Token"> 
                            </div>
                      </div>
                      <div class="row">
                            <div class="col-12 pb-2 px-3 mt-4">
                                <button class="btn btn-block etc" [disabled]="bearerToken" type="submit" (click)="addToken()">Add Token</button>
                            </div>
                      </div>
                      <app-loader *ngIf="enableLoader"></app-loader>
                    </ng-container>
                  <ng-container *ngIf="showClose">
                        <div class="row mx-5">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <mat-icon aria-hidden="false" id="SuccessIcon">check_circle_outline</mat-icon>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                      <div class="row">
                          <div class="col-md-3"></div>
                          <div class="col-md-6">
                              <div class="row" style="font-size: medium;flex-wrap: wrap;">Successfully Token Added!</div>
                          </div>
                          <div class="col-md-3"></div>
                      </div>
                      <div class="row pt-2">
                          <div class="col-md-4"></div>
                          <div class="col-md-4 pt-2 px-4">
                              <button class="btn btn-secondary etc" type="button" data-dismiss="modal" (click)="back()">Close</button>
                          </div>
                          <div class="col-md-4"></div>
                      </div>
                  </ng-container>
              </div>
          </div>
      </div>
    </div>
  </ng-container>