.integrationBox{
    border: 1px solid var(--secondary-bg);
    border-radius: 5px;
}
.btn {
    color: var(--text);
}

.etc {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

.btn:hover {
    background-color: var(--dropdown-hover);
    color: var(--primary-color); 
}

#modalBody{
    background-color: var(--secondary-bg);
}

.form-control{
    background-color: var(--input-field);
    color: var(--text);
    border: none;
    opacity: 1;
}

#SuccessIcon{
    color: var(--secondary-color);
    font-size: 48px;
    padding-left: 5px;
    padding-left: 5px;
    width: 3.2rem;
    height: 3rem;
}

.closeBtn{
    margin-left: 10px;
}