<div class="row">
    <div class="col-md-2">
        <app-focus-nav [currentSprintNumber]="backendService.currentSprintNumber" (currentSprint)="changeCurrentSprint($event)"></app-focus-nav>
    </div>
    <div class="col-md-10">
        <ng-container *ngIf="backendService.rawDataObservable | async">
            <ng-container *ngFor="let item of backendService.mainData | async">
                <ng-container *ngIf="item.id === backendService.currentSprintName">
                    <div class="container p-2">
                        <div class="row">
                            <ng-container *ngFor="let item of applicationSettingsService.teamData | async">
                                <div class="col-md-3 col-12" type="button" (click)="showTasks(item.TeamId)">
                                    <app-feature-card [cardName]="item.TeamName" [tasks]="item.TotalTeamTasks"></app-feature-card>
                                </div>
                            </ng-container>
                        </div>
                        <app-sprint-details [currentSprintName]="backendService.currentSprintName" [StartDate]="item.StartDate" [EndDate]="item.EndDate" [Status]="item.Status" (changeSprint)="changeCurrentSprint($event)"></app-sprint-details>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
        <app-loader *ngIf="!(backendService.mainData | async)"></app-loader>
    </div>
</div>