.label {
    font-size: 11px;
    color: var(--primary-color);
    cursor: pointer;
}

.label:hover {
    text-decoration: underline;
}

.value {
    font-size: 10px;
    color: var(--text);
    cursor: pointer;
}

#taskID:hover{
    text-decoration: underline;
    cursor: pointer;
}

.xoverflow {
    background-color: var(--primary-bg);
    display: flex;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}

select {
    width: 100px;
    background-color: var(--secondary-bg);
    color: var(--text);
}
.form-control{
    background-color: var(--secondary-bg);
    color: var(--text);
}