.label {
    font-size: 11px;
    color: var(--primary-color);
    cursor: pointer;
}

.label:hover {
    text-decoration: underline;
}

.dropdown-menu {
    width: 300px;
    height: auto;
    overflow-x: auto;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--secondary-bg);
    color: var(--text);
    border-radius: 2%;
    box-shadow: var(--box-shadow-bottom);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color); 
    border-radius: 10px;
}

.value {
    font-size: 11px;
    color: var(--text);
    cursor: pointer;
}

#taskID:hover{
    text-decoration: underline;
    cursor: pointer;
}

.xoverflow {
    background-color: var(--primary-bg);
    display: flex;
    width: 100%;
    /* overflow-x: auto;
    overflow-y: auto; */
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    cursor: move;
}

select {
    width: 100px;
    background-color: var(--secondary-bg);
    color: var(--text);
}
.form-control{
    background-color: var(--secondary-bg);
    color: var(--text);
}

mat-icon {
    color: var(--text);
}