.row {
    background-color: var(--primary-bg);
}

.label {
    font-size: 11px;
    color: var(--primary-color);
}

.value {
    font-size: 10px;
    color: var(--text);
}

#taskID:hover{
    text-decoration: underline;
    cursor: pointer;
}