<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <nav class="modal-header navbar navbar-expand" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <h5 class="active nav-link head" id="linkModalLabel">Add Link</h5>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="material-icons" (click)="close()">close</span>
                        </button>
                    </li>
                </ul>
            </nav>
            <div class="container modal-body align-items-center px-4" id="addLinkPage">
                <form *ngIf="!showClose" (ngSubmit)="submit()" #form="ngForm">
                    <div class="row">
                        <div class="col-md-3 pl-4">
                            <span class="form-inline">Link Type</span>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" [(ngModel)]="linkType" [ngModelOptions]="{standalone: true}"> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pl-4">
                            <span class="form-inline">Link URL</span>
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" [(ngModel)]="linkURL" [ngModelOptions]="{standalone: true}"> 
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12 pb-2 px-4">
                            <button class="btn btn-lg btn-block" type="submit" id="addButton" [disabled]="enableLoader">Add</button>
                        </div>
                    </div>
                    <app-loader *ngIf="enableLoader"></app-loader>
                </form>
                <ng-container *ngIf="showClose">
                    <div class="row">
                        <div class="col">Successfully Updated!</div>
                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3 pb-2 px-4">
                            <button class="btn" type="button" data-dismiss="modal" (click)="close()">Close</button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>