#navbarMenu{
    background-color: var(--primary-color);
}

#addLinkPage,
.modal-content {
    background-color: var(--secondary-bg);
    border: var(--primary-border);
    color: var(--text);
}

.head {
    font-weight: bolder;
}

#addButton {
    background-color: var(--secondary-color);
    border: var(--primary-border);
    color: var(--button-text);
}

#addButton:hover {
    background-color: var(--primary-color);
}

select:focus,
input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: svar(--primary-color);
}

.btn-secondary {
    background-color: var(--button-hover-bg);
}

.btn-secondary:hover {
    background-color: var(--button-bg);
}