#navbarMenu{
    background-color: var(--secondary-bg);
    color: var(--text);
}

#addLinkPage,
.modal-content {
    background-color: var(--secondary-bg);
    border: var(--primary-border);
    color: var(--text);
}

#SuccessIcon{
    color: var(--secondary-color);
    font-size: 48px;
}

.head {
    font-weight: bolder;
}

#addButton {
    background-color: var(--secondary-color);
    color: white;
}

#addButton:hover {
    background-color: var(--primary-color);
}

select:focus,
input:focus {
    box-shadow: none;
    outline: 0 none;
    border-color: svar(--primary-color);
}

.btn {
    color: var(--button-text);
    background-color: var(--button-bg);}

.btn:hover {
    background-color: var(--button-bg);
}